In [6]:
# %load_ext autoreload
# %autoreload 2

In [1]:
import re
import pandas as pd
import openai
import os
import json
# from gpt3_sandbox.api.gpt import GPT
# from gpt3_sandbox.api.gpt import Example
from pandasql import sqldf
from tqdm import tqdm
import numpy as np
from GptPrompter import *
from GptCOTPrompter import *
from GptCOTPrompter_BeamSeach import *
from AutoReasoner import *
import dotenv

config = dotenv.dotenv_values(".env")
openai.api_type = 'azure'
openai.api_base = 'https://meta-prompter-az-openai.openai.azure.com'
openai.api_version = '2022-12-01'
openai.api_key = config['OPENAI_API_KEY_ms']

dataset = pd.read_csv('./dataset/Table-Fact-Checking/small_test.csv', sep=',')
# dataset = pd.read_csv('./dataset/Table-Fact-Checking/small_test_sample10.csv', sep=',')
# dataset = pd.read_csv('./dataset/Table-Fact-Checking/train_sample.csv', sep=',')
# dataset = pd.read_csv('./dataset/WikiTableQuestions/data/training.tsv', sep='\t')

ft = None

In [2]:
# import fasttext
# ft = fasttext.load_model('/mnt/idm_automapping/cc.en.300.bin')

In [3]:
NNDemo = False
# max_demo = 5
max_demo = 7
# template = 'original-sql'
template = 'original-sql-py-no-intermediate'
# template = 'original-sql-py-no-intermediate-v1'
# template = 'formatv1'

# demo_file = f'few-shot-demo/TabFact-formatv1.json'
# demo_file = f'few-shot-demo/TabFact-formatv2.json'
demo_file = f'few-shot-demo/TabFact-formatv3.json'
# demo_file = f'../WikiTableQuestions/few-shot-demo/WikiTQ-sql-py.json'

gpt_model = 'mp-aoi-codex'

def parallel_codex_func(i):
    max_retry = 3
    while max_retry>0:
        try:
            codex_prompter = CodexAnswerCOTExecutor_HighTemperaturMajorityVote(
                                              f'./prompt_template/{template}.json',
                                              # '/mnt/text2sql/dataset/Table-Fact-Checking/prompt_template/formatv1.json',
                                              dataset.iloc[i]['id'], 
                                              dataset.iloc[i]['utterance'], 
                                              './data/all_csv/' + dataset.iloc[i]['context'], 
                                              dataset.iloc[i]['targetValue'], 
                                              base_path='./dataset/Table-Fact-Checking/',
                                              demo_file=demo_file,
                                             sep='#'
                                             )
            codex_prompter.model = gpt_model
            codex_prompter.max_demo = max_demo
            
            # codex_prompter._get_gpt_prediction_majority_vote(repeat_times=5)
            codex_prompter._get_gpt_prediction_majority_vote(repeat_times=5, maintain_df_ids=True)
            
            log = codex_prompter._log_dict()
            break
        except Exception as e:
            log = {
                'id': dataset.iloc[i]['id'],
                'uncaught_err': str(e)
            }
            max_retry -= 1
    return log

for program in [ 'sql', ]:
    n_threads = 2
    maxLimit = float('inf')
    # maxLimit = 1
    from joblib import Parallel, delayed
    logs = Parallel(n_jobs=n_threads, require='sharedmem')(delayed(parallel_codex_func)(i) for i in tqdm(range(min(maxLimit, dataset.shape[0]))))
    json.dump(logs, open(f'./dataset/Table-Fact-Checking/results/CodexAnswerCOTExecutor_MajorityVote_{template}_{program}_NNDemo={NNDemo}_results_test_small_limit{maxLimit}_model{gpt_model}.json', 'w'), indent=4)
    correct_cnt = 0
    for idx, l in enumerate(logs):
        if 'predicted_value' in l and l['target_value'] == l['predicted_value']:
            correct_cnt += 1
        else:
            print(idx)
    print(f"Acc = {correct_cnt} / {len(logs)} = {correct_cnt / len(logs)}")

  3%|██████▊                                                                                                                                                                                                                                    | 58/1998 [04:08<2:19:23,  4.31s/it]

Error: string indices must be integers
Error: string indices must be integers
Error: string indices must be integers

  8%|██████████████████                                                                                                                                                                                                                        | 154/1998 [11:53<2:38:03,  5.14s/it]

357

 16%|█████████████████████████████████████                                                                                                                                                                                                     | 316/1998 [25:33<2:09:19,  4.61s/it]

-74.63999999999999

 17%|███████████████████████████████████████                                                                                                                                                                                                   | 334/1998 [27:02<2:07:32,  4.60s/it]

4

 21%|█████████████████████████████████████████████████▋                                                                                                                                                                                        | 424/1998 [34:11<2:13:22,  5.08s/it]

Connecting to SQLite for execution code: SELECT call_sign FROM DF0 WHERE SUBSTR(call_sign, 1, 2)="w2";.
Connecting to SQLite for execution code: SELECT call_sign FROM DF0 WHERE SUBSTR(call_sign, 1, 2)="w2";.
Connecting to SQLite for execution code: SELECT call_sign FROM DF0 WHERE SUBSTR(call_sign, 1, 2)="w2";.

 21%|██████████████████████████████████████████████████▏                                                                                                                                                                                       | 428/1998 [34:45<2:59:51,  6.87s/it]

2

 41%|██████████████████████████████████████████████████████████████████████████████████████████████▌                                                                                                                                         | 814/1998 [1:04:09<1:34:00,  4.76s/it]

0

 41%|███████████████████████████████████████████████████████████████████████████████████████████████▍                                                                                                                                        | 822/1998 [1:04:53<1:42:23,  5.22s/it]

Connecting to SQLite for execution code: SELECT * FROM DF0 WHERE LOWER(team_1)="saint-louis fc" OR LOWER(team_2)="saint-louis fc";.
Connecting to SQLite for execution code: SELECT * FROM DF0 WHERE LOWER(team_1)="saint-louis fc" OR LOWER(team_2)="saint-louis fc";.

 47%|████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                                                                                           | 932/1998 [1:13:50<1:09:31,  3.91s/it]

-551.0
12.0

 48%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                                                                                        | 958/1998 [1:16:10<1:29:44,  5.18s/it]

yes

 50%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                                                                                   | 1000/1998 [1:19:31<1:31:46,  5.52s/it]

Connecting to SQLite for execution code: SELECT ABS(0-6) FROM DF1;.
Connecting to SQLite for execution code: SELECT ABS(0-6) FROM DF1;.
Connecting to SQLite for execution code: SELECT ABS(0-6) FROM DF1;.

 53%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                                                                                                            | 1058/1998 [1:24:19<1:29:32,  5.72s/it]

Connecting to SQLite for execution code: SELECT ABS(150.5-150.34) AS abs_diff;.

 53%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                                                                                            | 1064/1998 [1:24:42<1:11:27,  4.59s/it]

Connecting to SQLite for execution code: SELECT team, (CAST(won AS FLOAT) / CAST(total AS FLOAT)) AS percent_won FROM (SELECT team, (CAST(home_won AS FLOAT) + CAST(away_won AS FLOAT)) AS won, (CAST(home_won AS FLOAT) + CAST(home_lost AS FLOAT) + CAST(away_won AS FLOAT) + CAST(away_lost AS FLOAT)) AS total FROM (SELECT team, SPLIT_PART(home, ' - ', 1) AS home_won, SPLIT_PART(home, ' - ', 2) AS home_lost, SPLIT_PART(away, ' - ', 1) AS away_won, SPLIT_PART(away, ' - ', 2) AS away_lost FROM (SELECT team, SPLIT_PART(last_5, ' ' , 1) AS home, SPLIT_PART(last_5, ' ', 2) AS away FROM DF0) AS T1) AS T2) AS T3 ORDER BY percent_won DESC;.
Connecting to SQLite for execution code: SELECT team, (CAST(won AS FLOAT) / CAST(total AS FLOAT)) AS percent_won FROM (SELECT team, (CAST(home_won AS FLOAT) + CAST(away_won AS FLOAT)) AS won, (CAST(home_won AS FLOAT) + CAST(home_lost AS FLOAT) + CAST(away_won AS FLOAT) + CAST(away_lost AS FLOAT)) AS total FROM (SELECT team, SPLIT_PART(home, ' - ', 1) AS home_won, SPLIT_PART(home, ' - ', 2) AS home_lost, SPLIT_PART(away, ' - ', 1) AS away_won, SPLIT_PART(away, ' - ', 2) AS away_lost FROM (SELECT team, SPLIT_PART(last_5, ' ' , 1) AS home, SPLIT_PART(last_5, ' ', 2) AS away FROM DF0) AS T1) AS T2) AS T3 ORDER BY percent_won DESC;.
Connecting to SQLite for execution code: SELECT team, (CAST(won AS FLOAT) / CAST(total AS FLOAT)) AS percent_won FROM (SELECT team, (CAST(home_won AS FLOAT) + CAST(away_won AS FLOAT)) AS won, (CAST(home_won AS FLOAT) + CAST(home_lost AS FLOAT) + CAST(away_won AS FLOAT) + CAST(away_lost AS FLOAT)) AS total FROM (SELECT team, SPLIT_PART(home, ' - ', 1) AS home_won, SPLIT_PART(home, ' - ', 2) AS home_lost, SPLIT_PART(away, ' - ', 1) AS away_won, SPLIT_PART(away, ' - ', 2) AS away_lost FROM (SELECT team, SPLIT_PART(last_5, ' ' , 1) AS home, SPLIT_PART(last_5, ' ', 2) AS away FROM DF0) AS T1) AS T2) AS T3 ORDER BY percent_won DESC;.

 56%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                                      | 1114/1998 [1:28:52<1:07:31,  4.58s/it]<string>:10: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
 60%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                                                            | 1198/1998 [1:36:21<1:18:53,  5.92s/it]

Connecting to SQLite for execution code: SELECT venue, ABS(crowd) FROM DF1 WHERE venue="princes park" or venue="junction oval";.
Connecting to SQLite for execution code: SELECT venue, ABS(crowd) FROM DF1 WHERE venue="princes park" or venue="junction oval";.
Connecting to SQLite for execution code: SELECT venue, ABS(crowd) FROM DF1 WHERE venue="princes park" or venue="junction oval";.
Connecting to SQLite for execution code: SELECT venue, ABS(crowd) FROM DF1 WHERE venue="princes park" or venue="junction oval";.
Connecting to SQLite for execution code: SELECT venue, ABS(crowd) FROM DF1 WHERE venue="princes park" or venue="junction oval";.
Connecting to SQLite for execution code: SELECT venue, ABS(crowd) FROM DF1 WHERE venue="princes park" or venue="junction oval";.

 63%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                     | 1268/1998 [1:42:22<58:26,  4.80s/it]

Error: string indices must be integers
Error: string indices must be integers
Error: string indices must be integers

 64%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                                                                     | 1270/1998 [1:42:29<55:07,  4.54s/it]

Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.
Connecting to SQLite for execution code: SELECT SUM(SUBSTR(results, 1, 1)) FROM DF1;.

 68%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                          | 1362/1998 [1:50:24<54:22,  5.13s/it]

58.03999999999999

 69%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                                                        | 1376/1998 [1:51:28<50:30,  4.87s/it]

Connecting to SQLite for execution code: SELECT episode FROM DF0 WHERE UPPER(episode) LIKE "% GARY %" AND UPPER(episode) LIKE "% ALLISON %";.
Connecting to SQLite for execution code: SELECT episode FROM DF0 WHERE UPPER(episode) LIKE "% GARY %" AND UPPER(episode) LIKE "% ALLISON %";.

 69%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                        | 1380/1998 [1:51:42<42:17,  4.11s/it]

Error: Requests to the Completions_Create Operation under Azure OpenAI API version 2022-12-01 have exceeded call rate limit of your current OpenAI S0 pricing tier. Please retry after 1 second. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit.
Rate limit detacted. Retrying after 20sec.

 71%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                                  | 1428/1998 [1:56:00<52:41,  5.55s/it]

Error: string indices must be integers
Error: string indices must be integers
Error: string indices must be integers

 72%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                                                | 1444/1998 [1:57:11<36:47,  3.98s/it]

Error: string indices must be integers
Error: string indices must be integers
Error: string indices must be integers

 75%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                          | 1494/1998 [2:01:21<40:21,  4.80s/it]

Connecting to SQLite for execution code: SELECT ABS(m1-m2) as diff FROM (SELECT money as m1, money as m2 FROM DF2) as df;.
Connecting to SQLite for execution code: SELECT ABS(m1-m2) as diff FROM (SELECT money as m1, money as m2 FROM DF2) as df;.
Connecting to SQLite for execution code: SELECT ABS(m1-m2) as diff FROM (SELECT money as m1, money as m2 FROM DF2) as df;.
Connecting to SQLite for execution code: SELECT ABS(m1-m2) as diff FROM (SELECT money as m1, money as m2 FROM DF2) as df;.

 75%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                                         | 1504/1998 [2:02:12<36:41,  4.46s/it]

Connecting to SQLite for execution code: SELECT ROUND(avg(score)) FROM DF0 WHERE country="japan";.
Connecting to SQLite for execution code: SELECT ROUND(avg(score)) FROM DF0 WHERE country="japan";.
Connecting to SQLite for execution code: SELECT ROUND(avg(score)) FROM DF0 WHERE country="japan";.
Connecting to SQLite for execution code: SELECT ROUND(avg(score)) FROM DF0 WHERE country="japan";.
Connecting to SQLite for execution code: SELECT ROUND(avg(score)) FROM DF0 WHERE country="japan";.
Connecting to SQLite for execution code: SELECT ROUND(avg(score)) FROM DF0 WHERE country="japan";.

 76%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                                                       | 1520/1998 [2:03:28<34:27,  4.33s/it]

3.9499999999999993

 83%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                        | 1650/1998 [2:13:54<26:41,  4.60s/it]

Error: Requests to the Completions_Create Operation under Azure OpenAI API version 2022-12-01 have exceeded call rate limit of your current OpenAI S0 pricing tier. Please retry after 1 second. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit.
Rate limit detacted. Retrying after 20sec.

 84%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                     | 1674/1998 [2:15:44<20:43,  3.84s/it]

Error: Requests to the Completions_Create Operation under Azure OpenAI API version 2022-12-01 have exceeded call rate limit of your current OpenAI S0 pricing tier. Please retry after 1 second. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit.
Rate limit detacted. Retrying after 20sec.

 86%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                               | 1726/1998 [2:20:27<24:19,  5.37s/it]

yes

 93%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                 | 1852/1998 [2:30:32<11:29,  4.73s/it]

Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.
Connecting to SQLite for execution code: SELECT CAST(ratings AS DECIMAL) - CAST("13.4%" AS DECIMAL) FROM DF2;.

 94%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████               | 1870/1998 [2:32:18<12:29,  5.85s/it]

Connecting to SQLite for execution code:
CREATE TABLE DF0_tmp AS SELECT * FROM DF0;
UPDATE DF0_tmp SET score=REPLACE(score, ' - ', ':');
UPDATE DF0_tmp SET result=REPLACE(result, ' - ', ':');.
Connecting to SQLite for execution code:
CREATE TABLE DF0_tmp AS SELECT * FROM DF0;
UPDATE DF0_tmp SET score=REPLACE(score, ' - ', ':');
UPDATE DF0_tmp SET result=REPLACE(result, ' - ', ':');.
Connecting to SQLite for execution code:
CREATE TABLE DF0_tmp AS SELECT * FROM DF0;
UPDATE DF0_tmp SET score=REPLACE(score, ' - ', ':');
UPDATE DF0_tmp SET result=REPLACE(result, ' - ', ':');.

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊| 1996/1998 [2:42:54<00:08,  4.45s/it]

Connecting to SQLite for execution code: SELECT ABS(SUBSTR(score, 1, 1) - SUBSTR(score, -1, 1)) FROM DF0 WHERE date="february 10";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTR(score, 1, 1) - SUBSTR(score, -1, 1)) FROM DF0 WHERE date="february 10";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTR(score, 1, 1) - SUBSTR(score, -1, 1)) FROM DF0 WHERE date="february 10";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTR(score, 1, 1) - SUBSTR(score, -1, 1)) FROM DF0 WHERE date="february 10";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 1), " - ", -1) - SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 2), " - ", -1)) FROM DF0 WHERE date="february 10" OR date="february 24";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 1), " - ", -1) - SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 2), " - ", -1)) FROM DF0 WHERE date="february 10" OR date="february 24";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 1), " - ", -1) - SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 2), " - ", -1)) FROM DF0 WHERE date="february 10" OR date="february 24";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 1), " - ", -1) - SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 2), " - ", -1)) FROM DF0 WHERE date="february 10" OR date="february 24";.
Connecting to SQLite for execution code: SELECT ABS(SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 1), " - ", -1) - SUBSTRING_INDEX(SUBSTRING_INDEX(score, " - ", 2), " - ", -1)) FROM DF0 WHERE date="february 10" OR date="february 24";.

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1998/1998 [2:43:02<00:00,  4.90s/it]

1
4
6
10
14
21
26
28
29
43
47
50
57
59
64
72
79
80
82
91
102
109
112
115
117
119
124
128
133
135
140
146
156
160
164
172
174
181
184
185
186
187
191
194
201
204
208
213
214
218
227
229
234
240
244
246
249
250
257
259
260
263
280
281
285
289
297
310
313
317
325
328
335
338
343
363
368
398
401
415
419
425
429
437
440
442
448
449
457
460
468
470
472
474
477
482
484
501
504
505
511
513
514
519
525
533
534
535
537
543
545
546
547
561
571
572
576
582
583
584
586
589
591
594
596
599
600
607
609
612
616
618
623
635
642
644
655
656
657
664
666
671
672
682
683
688
694
702
706
709
710
712
721
724
730
731
738
740
752
760
763
764
769
787
789
802
811
812
816
818
821
826
831
833
838
840
842
848
853
855
858
868
874
875
876
895
914
915
917
920
927
930
933
934
947
951
960
963
968
983
988
1003
1004
1011
1013
1018
1023
1030
1033
1035
1037
1039
1040
1041
1044
1046
1048
1062
1071
1074
1079
1083
1084
1092
1095
1096
1100
1104
1106
1108
1135
1136
1140
1144
1150
1152
1154
1157
1159
1160
1164
1165
1168
1171
1178
1179
1184
1186
1196
1211
1212
1213
1217
1220
1222
1226
1233
1238
1243
1248
1251
1254
1256
1257
1266
1267
1275
1278
1279
1286
1291
1292
1294
1303
1304
1306
1312
1321
1333
1337
1341
1353
1359
1365
1370
1371
1373
1374
1380
1384
1387
1393
1395
1404
1406
1409
1411
1416
1418
1425
1427
1442
1448
1453
1457
1465
1473
1482
1488
1491
1495
1497
1502
1511
1519
1520
1523
1536
1542
1557
1560
1561
1567
1572
1575
1584
1589
1590
1591
1607
1617
1624
1642
1651
1657
1659
1665
1666
1669
1676
1679
1682
1683
1691
1693
1698
1704
1709
1713
1714
1717
1722
1725
1726
1731
1744
1748
1755
1757
1760
1762
1764
1766
1770
1775
1779
1780
1781
1786
1787
1788
1790
1791
1802
1805
1808
1818
1821
1829
1833
1837
1841
1844
1849
1853
1866
1871
1876
1878
1885
1887
1900
1903
1905
1910
1911
1913
1916
1918
1921
1922
1925
1926
1928
1930
1936
1937
1938
1940
1945
1948
1959
1961
1963
1964
1972
1974
1975
1979
1988
Acc = 1578 / 1998 = 0.7897897897897898

In [4]:
logs[0]

{'id': 'nt-17418',
 'utterance': 'neil labute be nominate for best play in 2009. yes or no?',
 'source_csv': './dataset/Table-Fact-Checking/./data/all_csv/2-18963715-1.html.csv',
 'target_value': 'yes',
 'predicted_value': 'yes',
 'prompt': 'The database table DF is shown as follows:\n[HEAD]: year|venue|winner|country|score\n---\n[ROW] 1: 2005|arlandastad|david patrick|scotland|272\n[ROW] 2: 2004|arlandastad|matthew king|england|270\n[ROW] 3: 2003|falsterbo|titch moore|south africa|273\n[ROW] 4: 2002|halmstad|thomas besancenez|france|279\n[ROW] 5: 2001|bokskogens|cristophe pottier|france|272\n\nJudge whether the following statement is correct or not: "in 2004 the score be less than 270. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT score FROM DF WHERE year=2004;```.\n\nIntermediate table: [HEAD]: score\n---\n[ROW] 1: 270\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: nat|name|moving_from|type|transfer_window|transfer_fee\n---\n[ROW] 1: esp|mikel arteta|barcelona|transfer|summer|5.8 m\n[ROW] 2: aus|kevin muscat|wolverhampton wanderers|transfer|summer|free\n[ROW] 3: sco|steven thompson|dundee united|transfer|winter|0.2 m\n[ROW] 4: fra|jerome bonnissel|bordeaux|transfer|winter|free\n[ROW] 5: nor|dan eggen|deportivo alavés|transfer|winter|free\n\nJudge whether the following statement is correct or not: "there be 3 total transfer in the winter. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT * FROM DF WHERE transfer_window="winter";```.\n\nIntermediate table: [HEAD]: nat|name|moving_from|type|transfer_window|transfer_fee\n---\n[ROW] 1: sco|steven thompson|dundee united|transfer|winter|0.2 m\n[ROW] 2: fra|jerome bonnissel|bordeaux|transfer|winter|free\n[ROW] 3: nor|dan eggen|deportivo alavés|transfer|winter|free\n\nSQL: ```SELECT COUNT(*) FROM DF;```.\n\nIntermediate table: [HEAD]: COUNT(*)\n---\n[ROW] 1: 3\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - aug - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - aug - 27|priestfield stadium|1st round 2nd leg\n[ROW] 3: oxford united|0|1991 - sep - 24|fratton park|2nd round 1st leg\n[ROW] 4: oxford united|0|1991 - oct - 09|manor ground|2nd round 2nd leg\n[ROW] 5: manchester united|3|1991 - oct - 30|old trafford|3rd round\n\nJudge whether the following statement is correct or not: "there be 1 game play oppose to gillingham in august. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT * FROM DF where date LIKE "%- aug -%" AND opposing_team="gillingham";```.\n\nIntermediate table: [HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - aug - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - aug - 27|priestfield stadium|1st round 2nd leg\n\nSQL: ```SELECT COUNT(*) FROM DF;```.\n\nIntermediate table: [HEAD]: COUNT(*)\n---\n[ROW] 1: 2\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: date|opponent|home_away|field|result\n---\n[ROW] 1: may 31, 1998|rattlers|away|bishop kearney field|l 13 - 23\n[ROW] 2: june 6, 2019|cannons|home|the ballpark at harbor yard|l 17 - 23\n[ROW] 3: june 12, 2017|bayhawks|home|the ballpark at harbor yard|l 14 - 21\n[ROW] 4: june 14, 2020|pride|away|commerce bank ballpark|l 9 - 16\n[ROW] 5: june 27, 1988|lizards|away|mitchel athletic complex|l 19 - 23\n[ROW] 6: july 12, 1977|lizards|home|the ballpark at harbor yard|l 16 - 17\n[ROW] 7: july 19, 1992|bayhawks|away|homewood field|w 22 - 17\n[ROW] 8: july 24, 1993|rattlers|home|the ballpark at harbor yard|l 19 - 21\n...\n[ROW] 11: august 7, 1994|cannons|away|cawley memorial stadium|l 15 - 21\n[ROW] 12: august 14, 1994|rattlers|home|the ballpark at harbor yard|l 18 - 23\n\nJudge whether the following statement is correct or not: "on jul 19 , the bayhawks play a game at homewood field. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT field FROM DF WHERE date LIKE "july 19%";```.\n\nIntermediate table: [HEAD]: field\n---\n[ROW] 1: homewood field\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: date|course|distance|type|winner\n---\n[ROW] 1: 18 may|athens ( greece ) to athens ( greece )|-|plain stage|silvio martinello ( ita )\n[ROW] 2: 19 may|eleusis ( greece ) to naupactus ( greece )|-|plain stage|glenn magnusson ( swe )\n[ROW] 3: 20 may|missolonghi ( greece ) to ioannina ( greece )|-|plain stage|giovanni lombardi ( ita )\n[ROW] 4: 21 may|rest day|rest day|rest day|rest day\n[ROW] 5: 22 may|ostuni to ostuni|-|plain stage|mario cipollini ( ita )\n[ROW] 6: 23 may|metaponto to crotone|-|plain stage|ángel edo ( esp )\n[ROW] 7: 24 may|crotone to catanzaro|-|hilly stage|pascal hervé ( fra )\n[ROW] 8: 25 may|amantea to massiccio del sirino|-|stage with mountain (s)|davide rebellin ( ita )\n...\n[ROW] 23: 9 june|sondrio to milan|-|plain stage|serguei outschakov ( ukr )\n[ROW] 24: total|total|-|km (mi)|km (mi)\n\nJudge whether the following statement is correct or not: "mario cipollini (ita) be the only winner from italy in 7 of the race from 18 may to 9 june. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT * FROM DF WHERE winner LIKE "%( ita )";```.\n\nIntermediate table: [HEAD]: date|course|distance|type|winner\n---\n[ROW] 1: 18 may|athens ( greece ) to athens ( greece )|-|plain stage|silvio martinello ( ita )\n[ROW] 2: 20 may|missolonghi ( greece ) to ioannina ( greece )|-|plain stage|giovanni lombardi ( ita )\n[ROW] 3: 22 may|ostuni to ostuni|-|plain stage|mario cipollini ( ita )\n[ROW] 4: 25 may|amantea to massiccio del sirino|-|stage with mountain (s)|davide rebellin ( ita )\n[ROW] 5: 26 may|polla to naples|-|plain stage|mario cipollini ( ita )\n[ROW] 6: 27 may|naples to fiuggi|-|hilly stage|enrico zaina ( ita )\n[ROW] 7: 28 may|arezzo to prato|-|hilly stage|rodolfo massi ( ita )\n[ROW] 8: 29 may|prato to marina di massa|-|plain stage|mario cipollini ( ita )\n...\n[ROW] 12: 7 june|marostica to passo pordoi|-|stage with mountain (s)|enrico zaina ( ita )\n[ROW] 13: 8 june|cavalese to aprica|-|stage with mountain (s)|ivan gotti ( ita )\n\nSQL: ```SELECT winner, COUNT(*) FROM DF GROUP BY winner;```.\n\nIntermediate table: [HEAD]: winner|count(*)\n---\n[ROW] 1: davide rebellin ( ita )|1\n[ROW] 2: enrico zaina ( ita )|2\n[ROW] 3: fabiano fontanelli ( ita )|1\n[ROW] 4: gianni bugno ( ita )|1\n[ROW] 5: giovanni lombardi ( ita )|1\n[ROW] 6: ivan gotti ( ita )|1\n[ROW] 7: mario cipollini ( ita )|4\n[ROW] 8: rodolfo massi ( ita )|1\n[ROW] 9: silvio martinello ( ita )|1\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|tournament|venue|result|event\n---\n[ROW] 1: 1997|world cross country championships|turin , italy|25th|long race\n[ROW] 2: 1998|world cross country championships|marrakech , morocco|26th|long race\n[ROW] 3: 1998|world cross country championships|marrakech , morocco|6th|team competition\n[ROW] 4: 2001|world half marathon championships|bristol , england|22nd|half marathon\n[ROW] 5: 2001|world half marathon championships|bristol , england|3rd|team competition\n\nJudge whether the following statement is correct or not: "in 2001 , benedict ako participate in 2 race , the half marathon and the team competition. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT year, event FROM DF WHERE year=2001;```.\n\nIntermediate table: [HEAD]: year|event\n---\n[ROW] 1: 2001|half marathon\n[ROW] 2: 2001|team competition\n\nSQL: ```SELECT event, COUNT(*) FROM DF WHERE event="half marathon" or event="team competition" GROUP BY event;```.\n\nIntermediate table: [HEAD]: event|count(*)\n---\n[ROW] 1: half marathon|1\n[ROW] 2: team competition|1\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: species|strain|type|base_pairs|genes\n---\n[ROW] 1: borrelia burgdorferi|b31|spirochaetes|910724|850\n[ROW] 2: borrelia garinii|pbi|spirochaetes|904246|832\n[ROW] 3: leptospira interrogans|56601|spirochaetes|4332241|4358\n[ROW] 4: unspecified|unspecified|spirochaetes|358943|367\n[ROW] 5: leptospira interrogans|fiocruzl1130|spirochaetes|4277185|3394\n[ROW] 6: unspecified|unspecified|spirochaetes|350181|264\n[ROW] 7: treponema denticola|atcc35405|spirochaetes|2843201|2767\n[ROW] 8: treponema pallidum|nichols|spirochaetes|1138011|1031\n\nJudge whether the following statement is correct or not: "the base pair be 358943 when strain be unspecified. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT strain FROM DF WHERE base_pairs=358943;```.\n\nIntermediate table: [HEAD]: strain\n---\n[ROW] 1: unspecified\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|award_ceremony|category|nominee|result\n---\n[ROW] 1: 2009|tony award|best play|neil labute|nominated\n[ROW] 2: 2009|tony award|best performance by a leading actor in a play|thomas sadoski|nominated\n[ROW] 3: 2009|tony award|best performance by a featured actress in a play|marin ireland|nominated\n[ROW] 4: 2009|drama desk award|outstanding play|outstanding play|nominated\n[ROW] 5: 2009|drama desk award|outstanding actor in a play|thomas sadoski|nominated\n[ROW] 6: 2009|drama desk award|outstanding director of a play|terry kinney|nominated\n[ROW] 7: 2009|theatre world award|theatre world award|marin ireland|won\n\nJudge whether the following statement is correct or not: "neil labute be nominate for best play in 2009. yes or no?". Generate SQL or Python code step-by-step given the question and table to answer the question correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Answer the question directly (yes or no) if confident.\n\nSQL: ```SELECT category FROM DF WHERE year=2009 AND nominee="neil labute";```.\n\nIntermediate table: [HEAD]: category\n---\n[ROW] 1: best play',
 'execution_match': None,
 'gpt_error': 'Unsupported code type generated: The database table DF is shown as follows (The database table DF is shown as follows:\n[HEAD]: year|award_ceremony|category|nominee|result\n---\n[ROW] 1: 2009|tony award|best play|neil labute|nominated\n[ROW] 2: 2009|tony award|best performance by a leading actor in a play|thomas sadoski|nominated\n[ROW] 3: 2009|tony award|best performance by a featured actress in a play|marin ireland|nominated\n[ROW] 4: 2009|drama desk award|outstanding play|outstanding play|nominated\n[ROW] 5: 2009|drama desk award|outstanding actor in a play|thomas sadoski|nominated\n[ROW] 6: 2009|drama desk award|outstanding director of a play|terry kinney|nominated\n[ROW] 7: 2009|theatre world award|theatre world award|marin ireland|won\n\nJudge whether the following statement is correct or not: "neil labute be nominate for best play in 2009. yes or no?". Generate SQL or Python)',
 'execution_err': None,
 'predicted_sql': None,
 'df_reformat_sql': None,
 'gpt_original_output': ['SQL: ```SELECT category FROM DF WHERE year=2009 AND nominee="neil labute";',
  'Answer: ```yes'],
 'all_predictions': ['yes', 'yes', 'yes', 'yes', 'yes'],
 'training_demo_ids': []}

In [7]:
def parallel_codex_func(i):

    codex_prompter = CodexAnswerCOTExecutor_template(
                                      f'/mnt/text2sql/dataset/Table-Fact-Checking/prompt_template/{template}.json',
                                      # '/mnt/text2sql/dataset/Table-Fact-Checking/prompt_template/formatv1.json',
                                      dataset.iloc[i]['id'], 
                                      dataset.iloc[i]['utterance'], 
                                      './data/all_csv/' + dataset.iloc[i]['context'], 
                                      dataset.iloc[i]['targetValue'], 
                                      base_path='./dataset/Table-Fact-Checking/',
                                      demo_file=f'few-shot-demo/TabFact-formatv1.json',
                                     sep='#'
                                     )
    codex_prompter.model = gpt_model
    codex_prompter.max_demo = max_demo
    # codex_prompter._gen_gpt_prompt()
    codex_prompter._gen_gpt_prompt()
    codex_prompter._get_gpt_prediction()
    log = codex_prompter._log_dict()
    return log
parallel_codex_func(0)

{'id': 'nt-17418',
 'utterance': 'neil labute be nominate for best play in 2009. yes or no?',
 'source_csv': './dataset/Table-Fact-Checking/./data/all_csv/2-18963715-1.html.csv',
 'target_value': 'yes',
 'predicted_value': 'yes',
 'prompt': 'The database table DF is shown as follows:\n[HEAD]: year|venue|winner|country|score\n---\n[ROW] 1: 2005|arlandastad|david patrick|scotland|272\n[ROW] 2: 2004|arlandastad|matthew king|england|270\n[ROW] 3: 2003|falsterbo|titch moore|south africa|273\n[ROW] 4: 2002|halmstad|thomas besancenez|france|279\n[ROW] 5: 2001|bokskogens|cristophe pottier|france|272\n\nAnswer the following question based on the data above: "in 2004 the score be less than 270. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT score FROM DF WHERE year=2004;```.\n\nThe database table DF is shown as follows:\n[HEAD]: score\n---\n[ROW] 1: 270\n\nAnswer the following question based on the data above: "in 2004 the score be less than 270. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: nat|name|moving_from|type|transfer_window|transfer_fee\n---\n[ROW] 1: esp|mikel arteta|barcelona|transfer|summer|5.8 m\n[ROW] 2: aus|kevin muscat|wolverhampton wanderers|transfer|summer|free\n[ROW] 3: sco|steven thompson|dundee united|transfer|winter|0.2 m\n[ROW] 4: fra|jerome bonnissel|bordeaux|transfer|winter|free\n[ROW] 5: nor|dan eggen|deportivo alavés|transfer|winter|free\n\nAnswer the following question based on the data above: "there be 3 total transfer in the winter. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT * FROM DF WHERE transfer_window="winter";```.\n\nThe database table DF is shown as follows:\n[HEAD]: nat|name|moving_from|type|transfer_window|transfer_fee\n---\n[ROW] 1: sco|steven thompson|dundee united|transfer|winter|0.2 m\n[ROW] 2: fra|jerome bonnissel|bordeaux|transfer|winter|free\n[ROW] 3: nor|dan eggen|deportivo alavés|transfer|winter|free\n\nAnswer the following question based on the data above: "there be 3 total transfer in the winter. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT COUNT(*) FROM DF;```.\n\nThe database table DF is shown as follows:\n[HEAD]: COUNT(*)\n---\n[ROW] 1: 3\n\nAnswer the following question based on the data above: "there be 3 total transfer in the winter. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - aug - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - aug - 27|priestfield stadium|1st round 2nd leg\n[ROW] 3: oxford united|0|1991 - sep - 24|fratton park|2nd round 1st leg\n[ROW] 4: oxford united|0|1991 - oct - 09|manor ground|2nd round 2nd leg\n[ROW] 5: manchester united|3|1991 - oct - 30|old trafford|3rd round\n\nAnswer the following question based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT * FROM DF where date LIKE "%- aug -%" AND opposing_team="gillingham";```.\n\nThe database table DF is shown as follows:\n[HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - aug - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - aug - 27|priestfield stadium|1st round 2nd leg\n\nAnswer the following question based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT COUNT(*) FROM DF;```.\n\nThe database table DF is shown as follows:\n[HEAD]: COUNT(*)\n---\n[ROW] 1: 2\n\nAnswer the following question based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: date|opponent|home_away|field|result\n---\n[ROW] 1: may 31, 1998|rattlers|away|bishop kearney field|l 13 - 23\n[ROW] 2: june 6, 2019|cannons|home|the ballpark at harbor yard|l 17 - 23\n[ROW] 3: june 12, 2017|bayhawks|home|the ballpark at harbor yard|l 14 - 21\n[ROW] 4: june 14, 2020|pride|away|commerce bank ballpark|l 9 - 16\n[ROW] 5: june 27, 1988|lizards|away|mitchel athletic complex|l 19 - 23\n[ROW] 6: july 12, 1977|lizards|home|the ballpark at harbor yard|l 16 - 17\n[ROW] 7: july 19, 1992|bayhawks|away|homewood field|w 22 - 17\n[ROW] 8: july 24, 1993|rattlers|home|the ballpark at harbor yard|l 19 - 21\n...\n[ROW] 11: august 7, 1994|cannons|away|cawley memorial stadium|l 15 - 21\n[ROW] 12: august 14, 1994|rattlers|home|the ballpark at harbor yard|l 18 - 23\n\nAnswer the following question based on the data above: "on jul 19 , the bayhawks play a game at homewood field. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT field FROM DF WHERE date LIKE "july 19%";```.\n\nThe database table DF is shown as follows:\n[HEAD]: field\n---\n[ROW] 1: homewood field\n\nAnswer the following question based on the data above: "on jul 19 , the bayhawks play a game at homewood field. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: date|course|distance|type|winner\n---\n[ROW] 1: 18 may|athens ( greece ) to athens ( greece )|-|plain stage|silvio martinello ( ita )\n[ROW] 2: 19 may|eleusis ( greece ) to naupactus ( greece )|-|plain stage|glenn magnusson ( swe )\n[ROW] 3: 20 may|missolonghi ( greece ) to ioannina ( greece )|-|plain stage|giovanni lombardi ( ita )\n[ROW] 4: 21 may|rest day|rest day|rest day|rest day\n[ROW] 5: 22 may|ostuni to ostuni|-|plain stage|mario cipollini ( ita )\n[ROW] 6: 23 may|metaponto to crotone|-|plain stage|ángel edo ( esp )\n[ROW] 7: 24 may|crotone to catanzaro|-|hilly stage|pascal hervé ( fra )\n[ROW] 8: 25 may|amantea to massiccio del sirino|-|stage with mountain (s)|davide rebellin ( ita )\n...\n[ROW] 23: 9 june|sondrio to milan|-|plain stage|serguei outschakov ( ukr )\n[ROW] 24: total|total|-|km (mi)|km (mi)\n\nAnswer the following question based on the data above: "mario cipollini (ita) be the only winner from italy in 7 of the race from 18 may to 9 june. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT * FROM DF WHERE winner LIKE "%( ita )";```.\n\nThe database table DF is shown as follows:\n[HEAD]: date|course|distance|type|winner\n---\n[ROW] 1: 18 may|athens ( greece ) to athens ( greece )|-|plain stage|silvio martinello ( ita )\n[ROW] 2: 20 may|missolonghi ( greece ) to ioannina ( greece )|-|plain stage|giovanni lombardi ( ita )\n[ROW] 3: 22 may|ostuni to ostuni|-|plain stage|mario cipollini ( ita )\n[ROW] 4: 25 may|amantea to massiccio del sirino|-|stage with mountain (s)|davide rebellin ( ita )\n[ROW] 5: 26 may|polla to naples|-|plain stage|mario cipollini ( ita )\n[ROW] 6: 27 may|naples to fiuggi|-|hilly stage|enrico zaina ( ita )\n[ROW] 7: 28 may|arezzo to prato|-|hilly stage|rodolfo massi ( ita )\n[ROW] 8: 29 may|prato to marina di massa|-|plain stage|mario cipollini ( ita )\n...\n[ROW] 12: 7 june|marostica to passo pordoi|-|stage with mountain (s)|enrico zaina ( ita )\n[ROW] 13: 8 june|cavalese to aprica|-|stage with mountain (s)|ivan gotti ( ita )\n\nAnswer the following question based on the data above: "mario cipollini (ita) be the only winner from italy in 7 of the race from 18 may to 9 june. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT winner, COUNT(*) FROM DF GROUP BY winner;```.\n\nThe database table DF is shown as follows:\n[HEAD]: winner|count(*)\n---\n[ROW] 1: davide rebellin ( ita )|1\n[ROW] 2: enrico zaina ( ita )|2\n[ROW] 3: fabiano fontanelli ( ita )|1\n[ROW] 4: gianni bugno ( ita )|1\n[ROW] 5: giovanni lombardi ( ita )|1\n[ROW] 6: ivan gotti ( ita )|1\n[ROW] 7: mario cipollini ( ita )|4\n[ROW] 8: rodolfo massi ( ita )|1\n[ROW] 9: silvio martinello ( ita )|1\n\nAnswer the following question based on the data above: "mario cipollini (ita) be the only winner from italy in 7 of the race from 18 may to 9 june. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|tournament|venue|result|event\n---\n[ROW] 1: 1997|world cross country championships|turin , italy|25th|long race\n[ROW] 2: 1998|world cross country championships|marrakech , morocco|26th|long race\n[ROW] 3: 1998|world cross country championships|marrakech , morocco|6th|team competition\n[ROW] 4: 2001|world half marathon championships|bristol , england|22nd|half marathon\n[ROW] 5: 2001|world half marathon championships|bristol , england|3rd|team competition\n\nAnswer the following question based on the data above: "in 2001 , benedict ako participate in 2 race , the half marathon and the team competition. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT year, event FROM DF WHERE year=2001;```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|event\n---\n[ROW] 1: 2001|half marathon\n[ROW] 2: 2001|team competition\n\nAnswer the following question based on the data above: "in 2001 , benedict ako participate in 2 race , the half marathon and the team competition. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT event, COUNT(*) FROM DF WHERE event="half marathon" or event="team competition" GROUP BY event;```.\n\nThe database table DF is shown as follows:\n[HEAD]: event|count(*)\n---\n[ROW] 1: half marathon|1\n[ROW] 2: team competition|1\n\nAnswer the following question based on the data above: "in 2001 , benedict ako participate in 2 race , the half marathon and the team competition. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: species|strain|type|base_pairs|genes\n---\n[ROW] 1: borrelia burgdorferi|b31|spirochaetes|910724|850\n[ROW] 2: borrelia garinii|pbi|spirochaetes|904246|832\n[ROW] 3: leptospira interrogans|56601|spirochaetes|4332241|4358\n[ROW] 4: unspecified|unspecified|spirochaetes|358943|367\n[ROW] 5: leptospira interrogans|fiocruzl1130|spirochaetes|4277185|3394\n[ROW] 6: unspecified|unspecified|spirochaetes|350181|264\n[ROW] 7: treponema denticola|atcc35405|spirochaetes|2843201|2767\n[ROW] 8: treponema pallidum|nichols|spirochaetes|1138011|1031\n\nAnswer the following question based on the data above: "the base pair be 358943 when strain be unspecified. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT strain FROM DF WHERE base_pairs=358943;```.\n\nThe database table DF is shown as follows:\n[HEAD]: strain\n---\n[ROW] 1: unspecified\n\nAnswer the following question based on the data above: "the base pair be 358943 when strain be unspecified. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|award_ceremony|category|nominee|result\n---\n[ROW] 1: 2009|tony award|best play|neil labute|nominated\n[ROW] 2: 2009|tony award|best performance by a leading actor in a play|thomas sadoski|nominated\n[ROW] 3: 2009|tony award|best performance by a featured actress in a play|marin ireland|nominated\n[ROW] 4: 2009|drama desk award|outstanding play|outstanding play|nominated\n[ROW] 5: 2009|drama desk award|outstanding actor in a play|thomas sadoski|nominated\n[ROW] 6: 2009|drama desk award|outstanding director of a play|terry kinney|nominated\n[ROW] 7: 2009|theatre world award|theatre world award|marin ireland|won\n\nAnswer the following question based on the data above: "neil labute be nominate for best play in 2009. yes or no?". Execute SQL  code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.\n\nSQL: ```SELECT * FROM DF WHERE year=2009 AND category="best play";```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|award_ceremony|category|nominee|result\n---\n[ROW] 1: 2009|tony award|best play|neil labute|nominated\n\nAnswer the following question based on the data above: "neil labute be nominate for best play in 2009. yes or no?". Execute SQL code step-by-step and finally answer the question. Choose from generating a SQL code or directly answering the question.',
 'execution_match': None,
 'gpt_error': None,
 'execution_err': None,
 'predicted_sql': None,
 'df_reformat_sql': None,
 'gpt_original_output': ['SQL: ```SELECT * FROM DF WHERE year=2009 AND category="best play";',
  'Answer: ```yes'],
 'training_demo_ids': []}