In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import re
import pandas as pd
import openai
import os
import json
# from gpt3_sandbox.api.gpt import GPT
# from gpt3_sandbox.api.gpt import Example
from pandasql import sqldf
from tqdm import tqdm
import numpy as np
from GptPrompter import *
from GptCOTPrompter import *
from AutoReasoner import *
import dotenv
import random

config = dotenv.dotenv_values(".env")
openai.api_type = 'azure'
openai.api_base = 'https://meta-prompter-az-openai.openai.azure.com'
openai.api_version = '2022-12-01'
openai.api_key = config['OPENAI_API_KEY_ms']

# dataset = pd.read_csv('./dataset/Table-Fact-Checking/small_test.csv', sep=',')
# dataset = pd.read_csv('./dataset/Table-Fact-Checking/dev.csv', sep=',')
# dataset = pd.read_csv('./dataset/Table-Fact-Checking/small_test_sample10.csv', sep=',')
dataset = pd.read_csv('./dataset/Table-Fact-Checking/small_test_sample10-valid.csv', sep=',')

# dataset = pd.read_csv('./dataset/Table-Fact-Checking/train_sample.csv', sep=',')
# dataset = pd.read_csv('./dataset/WikiTableQuestions/data/training.tsv', sep='\t')

ft=None

In [3]:
# sampled_df = dataset.sample(frac=0.1, random_state=0)
# print(sampled_df.shape)
# sampled_df.to_csv('./dataset/Table-Fact-Checking/small_test_sample10-valid.csv', index=False)

In [4]:
# import fasttext
# ft = fasttext.load_model('/mnt/idm_automapping/cc.en.300.bin')

In [5]:
NNDemo = False
# max_demo = 5
max_demo = 8
# template = 'original-sql'
# template = 'original-sql-py-no-intermediate'
template = 'original-sql-py-no-intermediate-v1'
# template = 'formatv1'

# demo_file = f'few-shot-demo/TabFact-formatv1.json'
# demo_file = f'few-shot-demo/TabFact-formatv2.json'
# demo_file = f'few-shot-demo/TabFact-formatv3.json'
demo_file = f'few-shot-demo/TabFact-formatv4.json'
# demo_file = f'../WikiTableQuestions/few-shot-demo/WikiTQ-sql-py.json'

demo_ids = None
# demo_ids =  [21, 12, 19, 15, 2, 1, 11]  large: 80.7
# demo_ids = [2, 10, 15, 17, 9, 13, 4] # small: 83.5
# demo_ids = [13, 15, 4, 14, 1, 7, 8] # small: 85.5 

gpt_model = 'mp-aoi-codex'


def parallel_codex_func(i):
    max_retry = 3
    while max_retry>0:
        try:
            codex_prompter = CodexAnswerCOTExecutor_template(
                                              f'./prompt_template/{template}.json',
                                              # '/mnt/text2sql/dataset/Table-Fact-Checking/prompt_template/formatv1.json',
                                              dataset.iloc[i]['id'], 
                                              dataset.iloc[i]['utterance'], 
                                              './data/all_csv/' + dataset.iloc[i]['context'], 
                                              dataset.iloc[i]['targetValue'], 
                                              base_path='./dataset/Table-Fact-Checking/',
                                              demo_file=demo_file,
                                             sep='#'
                                             )
            codex_prompter.temperature = 0
            codex_prompter.model = gpt_model
            codex_prompter.max_demo = max_demo
            codex_prompter.demo_ids = demo_ids
            # codex_prompter.demo_ids = [8, 9, 10, 11 14]
            
            codex_prompter._gen_gpt_prompt(maintain_df_ids=True)
            codex_prompter._get_gpt_prediction(maintain_df_ids=True)
            
            # codex_prompter._gen_gpt_prompt()
            # codex_prompter._get_gpt_prediction()
            
            
            log = codex_prompter._log_dict()
            break
        except Exception as e:
            log = {
                'id': dataset.iloc[i]['id'],
                'uncaught_err': str(e)
            }
            max_retry -= 1
    return log

for program in [ 'sql-py' ]:
    trials = 1
    while trials:
        trials -= 1
        # demo_ids = random.sample(range(20), 7)
        print("Using demo_ids = ", demo_ids)
        n_threads = 2
        maxLimit = float('inf')
        maxLimit = 100
        from joblib import Parallel, delayed
        logs = Parallel(n_jobs=n_threads, require='sharedmem')(delayed(parallel_codex_func)(i) for i in tqdm(range(min(maxLimit, dataset.shape[0]))))
        json.dump(logs, open(f'./dataset/Table-Fact-Checking/results/CodexAnswerCOTExecutor_{template}_{program}_NNDemo={NNDemo}_results_test_small_limit{maxLimit}_model{gpt_model}_demo{demo_file.split("/")[-1].replace(".json", "")}.json', 'w'), indent=4)
        correct_cnt = 0
        for l in logs:
            if 'predicted_value' in l and l['target_value'] == l['predicted_value']:
                correct_cnt += 1
        print(f"Acc = {correct_cnt} / {len(logs)} = {correct_cnt / len(logs)}")

Using demo_ids =  None

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [02:03<00:00,  1.24s/it]

Acc = 79 / 100 = 0.79

In [7]:
# logs = json.load(open(f'./dataset/Table-Fact-Checking/results/CodexAnswerCOTExecutor_{template}_{program}_NNDemo={NNDemo}_results_test_small_limit{maxLimit}_model{gpt_model}.json', 'r'))
# logs = json.load(open(f'./dataset/Table-Fact-Checking/results/CodexAnswerCOTExecutor_original-sql-py-no-intermediate-v1_sql-py_NNDemo=False_results_test_small_limitinf_modelmp-aoi-codex.json', 'r'))

correct_cnt = 0
error_idx = []
for idx, l in enumerate(logs):
    if 'predicted_value' in l and l['target_value'] == l['predicted_value']:
        correct_cnt += 1
    else:
        error_idx.append(idx)

print(f"Acc = {correct_cnt} / {len(logs)} = {correct_cnt / len(logs)}")

Acc = 79 / 100 = 0.79

In [10]:
error_id = random.choice(error_idx)
print(error_id)
print(logs[error_id]['prompt'])
print(logs[error_id])
# print(logs[4]['predicted_value'])

33
The database table DF0 is shown as follows:
[HEAD]: date|opponent|score|loss|attendance|record
---
[ROW] 1: august 1|pirates|7 - 6|rincón (4 - 5)|22657|52 - 58
[ROW] 2: august 2|pirates|6 - 5|swift (4 - 5)|32388|52 - 59
[ROW] 3: august 3|pirates|8 - 4|reed (3 - 5)|24989|52 - 60
[ROW] 4: august 4|phillies|7 - 3|castillo (8 - 10)|15230|52 - 61
[ROW] 5: august 5|phillies|4 - 2|bottalico (2 - 4)|16428|53 - 61
[ROW] 6: august 6|mets|4 - 0|mlicki (5 - 8)|26633|54 - 61
[ROW] 7: august 7|mets|12 - 4|swift (4 - 6)|29536|54 - 62
[ROW] 8: august 8|pirates|5 - 3|lieber (6 - 12)|48262|55 - 62
...
[ROW] 28: august 30|athletics|4 - 3|mohler (1 - 10)|48308|67 - 70
[ROW] 29: august 31|athletics|10 - 4|oquist (2 - 5)|48041|68 - 70

Judge whether the following statement is a fact or not based on the data above: "on august 25 , remlinger (6 - 6) take the win against the rockies. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE date LIKE "%august 25%" AND opponent LIKE "%rockies%";```.

Intermediate table (DF1):
[HEAD]: date|opponent|score|loss|attendance|record
---
EMPTY TABLE

Answer: ```no```.

The database table DF0 is shown as follows:
[HEAD]: week|date|opponent|result|attendance
---
[ROW] 1: 1|september 4 , 1983|buffalo bills|w 12 - 0|78715
[ROW] 2: 2|september 11 , 1983|new england patriots|w 34 - 24|59343
[ROW] 3: 3|september 19 , 1983|los angeles raiders|l 27 - 14|57796
[ROW] 4: 4|september 25 , 1983|kansas city chiefs|w 14 - 6|50785
[ROW] 5: 5|october 2 , 1983|new orleans saints|l 17 - 7|66489
[ROW] 6: 6|october 9 , 1983|buffalo bills|l 38 - 35|59948
[ROW] 7: 7|october 16 , 1983|new york jets|w 32 - 14|58615
[ROW] 8: 8|october 23 , 1983|baltimore colts|w 21 - 7|32343
...
[ROW] 15: 15|december 10 , 1983|atlanta falcons|w 31 - 24|56725
[ROW] 16: 16|december 16 , 1983|new york jets|w 34 - 14|59975

Judge whether the following statement is a fact or not based on the data above: "the dolphins' defense record 2 shutout during the season. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE result LIKE "%- 0%";```.

Intermediate table (DF1):
[HEAD]: week|date|opponent|result|attendance
---
[ROW] 1: 1|september 4 , 1983|buffalo bills|w 12 - 0|78715
[ROW] 2: 12|november 20 , 1983|baltimore colts|w 37 - 0|54482

SQL: ```SELECT COUNT(*) FROM DF1;```.

Intermediate table (DF2):
[HEAD]: count(*)
---
[ROW] 1: 2

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: no|_|title|directed_by|written_by|us_air_date|production_code|us_viewers_million
---
[ROW] 1: 175|1|savior|kevin g fair|kelly souders & brian peterson|september 25 , 2009|3x5251|2.58
[ROW] 2: 176|2|metallo|mairzee almas|don whitehead & holly henderson|october 2 , 2009|3x5252|2.24
[ROW] 3: 177|3|rabid|michael rohl|jordan hawley|october 9 , 2009|3x5253|2.3
[ROW] 4: 178|4|echo|wayne rose|bryan miller|october 16 , 2009|3x5254|2.61
[ROW] 5: 179|5|roulette|kevin g fair|genevieve sparling|october 23 , 2009|3x5256|2.52
[ROW] 6: 180|6|crossfire|michael rohl|don whitehead & holly henderson|october 30 , 2009|3x5257|2.57
[ROW] 7: 181|7|kandor|jeannot szwarc|al septien & turi meyer|november 6 , 2009|3x5258|2.63
[ROW] 8: 182|8|idol|glen winter|anne cofell saunders|november 13 , 2009|3x5255|2.68
...
[ROW] 19: 193|19|sacrifice|kevin g fair|justin hartley , bryan miller & walter wong|april 30 , 2010|3x5270|1.89
[ROW] 20: 194|20|hostage|glen winter|jordan hawley & anne cofell saunders|may 7 , 2010|3x5271|1.92

Judge whether the following statement is a fact or not based on the data above: "there be 6 episode number for episode direct by wayne rose. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE directed_by LIKE "%wayne rose%" AND no=6;```.

Intermediate table (DF1):
[HEAD]: no|_|title|directed_by|written_by|us_air_date|production_code|us_viewers_million
---
EMPTY TABLE

Answer: ```no```.

The database table DF0 is shown as follows:
[HEAD]: res|record|opponent|method|event|round|time|location
---
[ROW] 1: win|23 - 11 - 1|doo won seo|submission (arm triangle choke)|road fc 11|2|2:24|seoul , south korea
[ROW] 2: loss|22 - 11 - 1|tatsuya kawajiri|submission (arm triangle choke)|dream 17|3|2:30|saitama , saitama , japan
[ROW] 3: win|22 - 10 - 1|mitsuhiro ishida|decision (split)|dream : fight for japan!|2|5:00|saitama , saitama , japan
[ROW] 4: win|21 - 10 - 1|usama aziz|submission (armbar)|super challenge 6|2|3:47|stockholm , sweden
[ROW] 5: win|20 - 10 - 1|hideo tokoro|submission (triangle choke)|dream 16|1|2:48|nagoya , japan
[ROW] 6: loss|19 - 10 - 1|hiroyuki takaya|ko (punches)|dream 14|1|4:27|saitama , saitama , japan
[ROW] 7: loss|19 - 9 - 1|bibiano ferNULLdes|decision (split)|dream 13|2|5:00|yokohama , japan
[ROW] 8: loss|19 - 8 - 1|shinya aoki|submission (armbar)|dream 11|2|4:56|yokohama , japan
...
[ROW] 34: loss|1 - 1|jani lax|submission (rear naked choke)|fire fight 4|1|9:25|turku , finland
[ROW] 35: win|1 - 0|marcus peltonen|tko|fire fight 3|1|1:38|turku , finland

Judge whether the following statement is a fact or not based on the data above: "at dream 11 , his fight with shinya aoki go to 4:56. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE opponent LIKE "%shinya aoki%" AND event LIKE "%dream 11%" AND time LIKE "4:56";```.

Intermediate table (DF1):
[HEAD]: res|record|opponent|method|event|round|time|location
---
[ROW] 1: loss|19 - 8 - 1|shinya aoki|submission (armbar)|dream 11|2|4:56|yokohama , japan

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: date|opponent|venue|result|attendance|score_diff
---
[ROW] 1: 12 august 2001|burnley|h|0 - 2|21766|-2
[ROW] 2: 18 august 2001|crewe alexandra|a|2 - 0|7933|2
[ROW] 3: 25 august 2001|west bromwich albion|h|1 - 1|18844|0
[ROW] 4: 27 august 2001|norwich city|a|0 - 2|16820|-2
[ROW] 5: 8 september 2001|birmingham city|a|0 - 2|19421|-2
[ROW] 6: 15 september 2001|wimbledon|a|1 - 1|7348|0
[ROW] 7: 17 september 2001|bradford city|h|1 - 1|18012
[ROW] 8: 22 september 2001|manchester city|h|2 - 6|25731
...
[ROW] 45: 13 april 2002|stockport county|a|1 - 3|8706|-2
[ROW] 46: 21 april 2002|wolverhampton wanderers|h|2 - 2|29772|0

Judge whether the following statement is a fact or not based on the data above: "sheffield wednesday fc play the wolverhampton wanderers 2 time during the 2001 - 02 season , and both match result in tie score. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

Python: ```
def get_score_diff(s):
    return int(s.split(' - ')[0]) - int(s.split(' - ')[1])
DF1['score_diff'] = DF1.apply(lambda x: get_score_diff(x['result']), axis=1)```.

Intermediate table (DF1):
[HEAD]: date|opponent|venue|result|attendance|score_diff
---
[ROW] 1: 18 november 2001|wolverhampton wanderers|a|0 - 0|19947|0
[ROW] 2: 21 april 2002|wolverhampton wanderers|h|2 - 2|29772|0

SQL: ```SELECT * FROM DF0 WHERE opponent LIKE "%wolverhampton wanderers%" AND score_diff=0;```.

Intermediate table (DF2):
[HEAD]: count(*)
---
[ROW] 1: 2

SQL: ```SELECT COUNT(*) FROM DF3;```.

The database table DF0 is shown as follows:
[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round
---
[ROW] 1: extra preliminary round|16 august 2008|203|761 → 558|406: 356th - 761st|750|n / a
[ROW] 2: preliminary round|30 august 2008|166|558 → 392|129: 227th - 355th|1500|n / a
[ROW] 3: first round qualifying|13 september 2008|116|392 → 276|66: 161st - 226th|3000|derren ibrahim ( dartford )
[ROW] 4: second round qualifying|27 september 2008|80|276 → 196|44: 117th - 160th|4500|dean lodge ( kingstonian )
[ROW] 5: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )
[ROW] 6: fourth round qualifying|25 october 2008|32|156 → 124|24: 93rd - 116th|12500|sam hatton ( afc wimbledon )

Judge whether the following statement is a fact or not based on the data above: "the third round qualifying have the most new entry. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 ORDER BY new_entries_this_round DESC LIMIT 1;```.

Intermediate table (DF1):
[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round
---
[ROW] 1: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )

SQL: ```SELECT * FROM DF1 WHERE round LIKE "third round qualifying";```.

Intermediate table (DF2):
[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round
---
[ROW] 1: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: year|date|driver|team|manufacturer|laps|_|race_time|average_speed_mph|report
---
[ROW] 1: 1982|june 6|bobby allison|digard motorsports|buick|200|500 (804.672)|4:24:08|113.579|report
[ROW] 2: 1983|june 12|bobby allison|digard motorsports|buick|200|500 (804.672)|3:53:13|128.636|report
[ROW] 3: 1984|june 10|cale yarborough|ranier - lundy|chevrolet|200|500 (804.672)|3:37:08|138.164|report
[ROW] 4: 1985|june 9|bill elliott|melling racing|ford|200|500 (804.672)|3:35:48|138.974|report
[ROW] 5: 1986|june 8|tim richmond|hendrick motorsports|chevrolet|200|500 (804.672)|4:24:50|113.279|report
[ROW] 6: 1987|june 14|tim richmond|hendrick motorsports|chevrolet|200|500 (804.672)|4:05:57|122.166|report
[ROW] 7: 1988|june 19|geoffrey bodine|hendrick motorsports|chevrolet|200|500 (804.672)|3:58:21|126.147|report
[ROW] 8: 1989|june 18|terry labonte|junior johnson & associates|ford|200|500 (804.672)|3:48:27|131.32|report
...
[ROW] 30: 2011|june 12|jeff gordon|hendrick motorsports|chevrolet|200|500 (804.672)|3:26:21|145.384|report
[ROW] 31: 2012|june 10|joey logano|joe gibbs racing|toyota|160|400 (643.737)|3:03:12|131.004|report

Judge whether the following statement is a fact or not based on the data above: "on june 8 , 1997 , jeff gordon drive for 200 lap. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE driver LIKE "%jeff gordon%" AND year=1997 AND date LIKE "%june 8%" AND laps=200;```.

Intermediate table (DF1):
[HEAD]: year|date|driver|team|manufacturer|laps|_|race_time|average_speed_mph|report
---
[ROW] 1: 1997|june 8|jeff gordon|hendrick motorsports|chevrolet|200|500 (804.672)|3:34:33|139.828|report

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: year|best_teenage_young_adult|reader_s_vote|best_non_fiction|lifetime_achievement
---
[ROW] 1: 1996|na|na|na|jon cleary
[ROW] 2: 1997|na|na|how to write crime edited by marele day|alan yates (aka carter brown )
[ROW] 3: 1998|na|na|na|na
[ROW] 4: 1999|na|na|na|peter corris
[ROW] 5: 2000|na|na|na|na
[ROW] 6: 2001|na|bleeding hearts by lindy cameron|na|professor stephen knight
[ROW] 7: 2002|blue murder by ken catran|apartment 255 by bunty avieson|na|patrick gallagher
[ROW] 8: 2003|na|na|na|kerry greenwood
[ROW] 9: 2004|na|na|na|bob bottom
[ROW] 10: 2005|na|na|na|stuart coupe
[ROW] 11: 2006|na|na|na|andrew rule and john silvester
[ROW] 12: 2007|na|na|na|sandra harvey and lindsay simpson
[ROW] 13: 2008|na|na|na|marele day
[ROW] 14: 2009|na|na|na|shane maloney
[ROW] 15: 2010|na|na|na|peter doyle
[ROW] 16: 2011|na|na|na|na

Judge whether the following statement is a fact or not based on the data above: "na win the lifetime achievement only after the year 1998. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE lifetime_achievement LIKE "%na%" AND year>1998;```.

Intermediate table (DF1):
[HEAD]: year|best_teenage_young_adult|reader_s_vote|best_non_fiction|lifetime_achievement
---
[ROW] 1: 2000|na|na|na|na
[ROW] 2: 2011|na|na|na|na

SQL: ```SELECT COUNT(*) FROM DF1;```.

Intermediate table (DF2):
[HEAD]: count(*)
---
[ROW] 1: 2

In [13]:
logs[1988]

{'id': 'nt-15792',
 'utterance': 'vctp 24hp / t (23hp / ton) have a vca 155 of 155 mm (6.1in) l / 41 howitzer , and not 55 km / h (34 mph). yes or no?',
 'source_csv': './dataset/Table-Fact-Checking/./data/all_csv/2-1111973-1.html.csv',
 'target_value': 'no',
 'predicted_value': 'yes',
 'prompt': 'The database table DF0 is shown as follows:\n[HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - aug - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - aug - 27|priestfield stadium|1st round 2nd leg\n[ROW] 3: oxford united|0|1991 - sep - 24|fratton park|2nd round 1st leg\n[ROW] 4: oxford united|0|1991 - oct - 09|manor ground|2nd round 2nd leg\n[ROW] 5: manchester united|3|1991 - oct - 30|old trafford|3rd round\n\nJudge whether the following statement is a fact or not based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT COUNT(*) FROM DF0 where date LIKE "%- aug -%" AND opposing_team="gillingham";```.\n\nIntermediate table (DF1):\n[HEAD]: COUNT(*)\n---\n[ROW] 1: 2\n\nAnswer: ```no```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: school|mascot|conference|national_titles|founded\n---\n[ROW] 1: bellevue university|bellevue bruins|midlands|14|1966\n[ROW] 2: college of saint mary|saint mary flames|midlands|0|1923\n[ROW] 3: concordia university|concordia bulldogs|great plains|1|1894\n[ROW] 4: doane college|doane tigers|great plains|10|1872\n[ROW] 5: hastings college|hastings broncos|great plains|3|1882\n[ROW] 6: midland university|midland warriors|great plains|2|1883\n[ROW] 7: nebraska wesleyan university|nw prairie wolves|great plains|19|1887\n[ROW] 8: peru state college|peru state bobcats|midlands|2|1865\n\nJudge whether the following statement is a fact or not based on the data above: "concordia university have win only 1 national title. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT national_titles FROM DF0 WHERE school="concordia university";```.\n\nIntermediate table (DF1):\n[HEAD]: national_titles\n---\n[ROW] 1: 1\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: date|opponent|home_away|field|result\n---\n[ROW] 1: may 31, 1998|rattlers|away|bishop kearney field|l 13 - 23\n[ROW] 2: june 6, 2019|cannons|home|the ballpark at harbor yard|l 17 - 23\n[ROW] 3: june 12, 2017|bayhawks|home|the ballpark at harbor yard|l 14 - 21\n[ROW] 4: june 14, 2020|pride|away|commerce bank ballpark|l 9 - 16\n[ROW] 5: june 27, 1988|lizards|away|mitchel athletic complex|l 19 - 23\n[ROW] 6: july 12, 1977|lizards|home|the ballpark at harbor yard|l 16 - 17\n[ROW] 7: july 19, 1992|bayhawks|away|homewood field|w 22 - 17\n[ROW] 8: july 24, 1993|rattlers|home|the ballpark at harbor yard|l 19 - 21\n...\n[ROW] 11: august 7, 1994|cannons|away|cawley memorial stadium|l 15 - 21\n[ROW] 12: august 14, 1994|rattlers|home|the ballpark at harbor yard|l 18 - 23\n\nJudge whether the following statement is a fact or not based on the data above: "on jul 19 , the bayhawks play a game at homewood field. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT field FROM DF0 WHERE date LIKE "july 19%";```.\n\nIntermediate table (DF1):\n[HEAD]: field\n---\n[ROW] 1: homewood field\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: position|team|played|wins|draws|losses|scored|conceded|points\n---\n[ROW] 1: 1|libertad|18|9|6|3|32|20|33\n[ROW] 2: 2|olimpia|18|9|6|3|30|18|33\n[ROW] 3: 3|cerro porteño|18|9|5|4|24|15|32\n[ROW] 4: 4|guaraní|18|7|6|5|24|17|27\n[ROW] 5: 5|sportivo luqueño|18|7|6|5|21|20|27\n[ROW] 6: 6|sol de américa|18|4|7|7|17|16|19\n[ROW] 7: 7|12 de octubre|18|4|7|7|7|14|19\n[ROW] 8: 8|san lorenzo|18|4|6|8|18|32|18\n[ROW] 9: 9|tacuary|18|4|5|9|20|29|17\n[ROW] 10: 10|sport colombia|18|4|4|10|22|29|16\n\nJudge whether the following statement is a fact or not based on the data above: "the 2 team which both win 7 game also lose 6 game. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE wins=7 AND losses=6;```.\n\nIntermediate table (DF1):\n[HEAD]: position|team|played|wins|draws|losses|scored|conceded|points\n---\nEMPTY TABLE\n\nAnswer: ```no```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: name|circuit|date|winning_driver|winning_constructor|report\n---\n[ROW] 1: tripoli grand prix|tripoli|11 march|tazio nuvolari|bugatti|report\n[ROW] 2: circuit d\'esterel plage|saint - raphaël|11 march|louis chiron|bugatti|report\n[ROW] 3: pozzo circuit|pozzo|25 march|tazio nuvolari|bugatti|report\n[ROW] 4: riviera circuit|cannes|1 april|louis chiron|bugatti|report\n[ROW] 5: antibes grand prix|garoupe|9 april|louis chiron|bugatti|report\n[ROW] 6: alessandria circuit|alessandria|22 april|tazio nuvolari|bugatti|report\n[ROW] 7: coppa florio|madonie|6 may|albert divo|bugatti|report\n[ROW] 8: targa florio|madonie|6 may|albert divo|bugatti|report\n...\n[ROW] 23: la baule grand prix|la baule|23 august|pierre blacque belair|bugatti|report\n[ROW] 24: boulogne grand prix|boulogne|9 september|malcolm campbell|delage|report\n\nJudge whether the following statement is a fact or not based on the data above: "the cremona circuit be hold earlier in the year than the coppa acerbo. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT date FROM DF0 WHERE name="cremona circuit" OR name="coppa acerbo";```.\n\nIntermediate table (DF1):\n[HEAD]: name|date\n---\n[ROW] 1: cremona circuit|24 june\n[ROW] 2: coppa acerbo|4 august\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: rank|goalkeeper|club|mins|shts|w_l_t\n---\n[ROW] 1: 1|zach thornton|chivas usa|2385|111|12 - 9 - 6\n[ROW] 2: 2|kasey keller|seattle sounders fc|2549|108|12 - 5 - 11\n[ROW] 3: 3|william hesmer|columbus crew|1710|86|9 - 4 - 6\n[ROW] 4: 4|matt reis|new england revolution|2160|140|10 - 8 - 6\n[ROW] 5: 5|pat onstad|houston dynamo|2700|121|13 - 8 - 9\n\nJudge whether the following statement is a fact or not based on the data above: "thornton and keller have the same amount of win as each other. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT goalkeeper, w_l_t FROM DF0 WHERE goalkeeper LIKE "%thornton" OR goalkeeper LIKE "%keller";```.\n\nIntermediate table (DF1):\n[HEAD]: goalkeeper|w_l_t\n---\n[ROW] 1: zach thornton|12 - 9 - 6\n[ROW] 2: kasey keller|12 - 5 - 11\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: type|released|cc_license|sources_available|open_source_movie|commercial_reuse\n---\n[ROW] 1: documentary|2002|by 2.5 au|on demand|yes|yes\n[ROW] 2: short films|7 / 2003|by - nc - nd 1.0|no|no|no\n[ROW] 3: short film (german)|9 / 2003|by - nc - sa 1.0|no|no|no\n[ROW] 4: full feature|04 / 2004|by - nc - nd 1.0|no|no|no\n[ROW] 5: documentary style|2004|by - nc - sa 2.0|on demand|partially|no\n[ROW] 6: full feature|2005|by - nc - nd 3.0|no|no|no\n[ROW] 7: animated short|04 / 2006|by 2.5|yes|yes|yes\n[ROW] 8: full feature|07 / 2006|by - nc - sa 2.5|yes|partially|no\n...\n[ROW] 27: documentary|9th june 2011|by - nc - nd|no|no|no\n[ROW] 28: feature film|2012|by 3.0|no|no|yes\n\nJudge whether the following statement is a fact or not based on the data above: "the most recent open source film list be in 2002. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nPython: ```\ndef get_released_year(s):\n    return s.split(\' \')[-1]\nDF0[\'released_year\'] = DF0.apply(lambda x: get_released_year(x[\'released\']), axis=1)```.\n\nIntermediate table (DF1):\n[HEAD]: type|released|cc_license|sources_available|open_source_movie|commercial_reuse|released_year\n---\n[ROW] 1: documentary|2002|by 2.5 au|on demand|yes|yes|2002\n[ROW] 2: short films|7 / 2003|by - nc - nd 1.0|no|no|no|2003\n[ROW] 3: short film (german)|9 / 2003|by - nc - sa 1.0|no|no|no|2003\n[ROW] 4: full feature|04 / 2004|by - nc - nd 1.0|no|no|no|2004\n[ROW] 5: documentary style|2004|by - nc - sa 2.0|on demand|partially|no|2004\n[ROW] 6: full feature|2005|by - nc - nd 3.0|no|no|no|2005\n[ROW] 7: animated short|04 / 2006|by 2.5|yes|yes|yes|2006\n[ROW] 8: full feature|07 / 2006|by - nc - sa 2.5|yes|partially|no|2006\n...\n[ROW] 27: documentary|9th june 2011|by - nc - nd|no|no|no|2011\n[ROW] 28: feature film|2012|by 3.0|no|no|yes|2012\n\nSQL: ```SELECT released_year FROM DF1 ORDER BY released_year ASC LIMIT 1;```.\n\nIntermediate table (DF2):\n[HEAD]: released_year\n---\n[ROW] 1: 2002\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: vctp|vca_155|vctm|vcpc|vclc|vcrt\n---\n[ROW] 1: 28.2 t (31.1 tons )|40t (44.1tons)|26t (28.7tons)|25t (27.6tons)|32t (35.3tons)|32t (35.3tons)\n[ROW] 2: 20 mm (79in) rh - 202 autocannon|155 mm (6.1in) l / 41 howitzer|120 mm (4.72in) mortar|7.62 mm (0.3in) fn mag 60 - 20 machine gun|160 mm (6.3in) or 350 mm (13.8in) rockets|7.62 mm (0.3in) fn mag 60 - 20 machine gun\n[ROW] 3: km (mi)|-|km (mi)|-|km (mi)|km (mi)\n[ROW] 4: 24hp / t (23hp / ton)|18hp / t ( 16.5hp / ton)|28.8hp / t (25.1hp / ton)|28.8hp / t (25.1hp / ton)|22.5hp / t (20.4hp / ton)|22.5hp / t (20.4hp / ton)\n[ROW] 5: 75 km / h (47 mph)|55 km / h (34 mph)|75 km / h (47 mph)|75 km / h (47 mph)|75 km / h (47 mph)|75 km / h (47 mph)\n\nJudge whether the following statement is a fact or not based on the data above: "vctp 24hp / t (23hp / ton) have a vca 155 of 155 mm (6.1in) l / 41 howitzer , and not 55 km / h (34 mph). yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT vca_155 FROM DF0 WHERE vctp="24hp / t (23hp / ton)";```.\n\nIntermediate table (DF1):\n[HEAD]: vca_155\n---\n[ROW] 1: 18hp / t ( 16.5hp / ton)',
 'execution_match': None,
 'gpt_error': None,
 'execution_err': None,
 'predicted_sql': None,
 'df_reformat_sql': None,
 'gpt_original_output': ['SQL: ```SELECT vca_155 FROM DF0 WHERE vctp="24hp / t (23hp / ton)";',
  'Answer: ```yes'],
 'training_demo_ids': []}

In [14]:
NNDemo = False
# max_demo = 5
max_demo = 8
# template = 'original-sql'
# template = 'original-sql-py-no-intermediate'
template = 'original-sql-py-no-intermediate-v1'
# template = 'formatv1'

# demo_file = f'few-shot-demo/TabFact-formatv1.json'
# demo_file = f'few-shot-demo/TabFact-formatv2.json'
# demo_file = f'few-shot-demo/TabFact-formatv3.json'
demo_file = f'few-shot-demo/TabFact-formatv4.json'
# demo_file = f'../WikiTableQuestions/few-shot-demo/WikiTQ-sql-py.json'

gpt_model = 'mp-aoi-codex'


def parallel_codex_func(i):

    codex_prompter = CodexAnswerCOTExecutor_template(
                                      f'/mnt/GPT-TabQA/dataset/Table-Fact-Checking/prompt_template/{template}.json',
                                      # '/mnt/text2sql/dataset/Table-Fact-Checking/prompt_template/formatv1.json',
                                      dataset.iloc[i]['id'], 
                                      dataset.iloc[i]['utterance'], 
                                      './data/all_csv/' + dataset.iloc[i]['context'], 
                                      dataset.iloc[i]['targetValue'], 
                                      base_path='./dataset/Table-Fact-Checking/',
                                      demo_file=demo_file,
                                     sep='#'
                                     )
    codex_prompter.temperature = 0
    codex_prompter.model = gpt_model
    codex_prompter.max_demo = max_demo
    # codex_prompter.demo_ids = [0, 1, 2, 3, 8, 10, 14]
    # codex_prompter.demo_ids = [0, 1, 2, 3, 4, 8, 14]
    
    codex_prompter._gen_gpt_prompt(maintain_df_ids=True)
    codex_prompter._get_gpt_prediction(maintain_df_ids=True)
    log = codex_prompter._log_dict()
    return log
log = parallel_codex_func(47)

In [15]:
# print(logs[7]['prompt'])
print(log['prompt'])

The database table DF0 is shown as follows:
[HEAD]: date|opponent|score|loss|attendance|record
---
[ROW] 1: august 1|pirates|7 - 6|rincón (4 - 5)|22657|52 - 58
[ROW] 2: august 2|pirates|6 - 5|swift (4 - 5)|32388|52 - 59
[ROW] 3: august 3|pirates|8 - 4|reed (3 - 5)|24989|52 - 60
[ROW] 4: august 4|phillies|7 - 3|castillo (8 - 10)|15230|52 - 61
[ROW] 5: august 5|phillies|4 - 2|bottalico (2 - 4)|16428|53 - 61
[ROW] 6: august 6|mets|4 - 0|mlicki (5 - 8)|26633|54 - 61
[ROW] 7: august 7|mets|12 - 4|swift (4 - 6)|29536|54 - 62
[ROW] 8: august 8|pirates|5 - 3|lieber (6 - 12)|48262|55 - 62
...
[ROW] 28: august 30|athletics|4 - 3|mohler (1 - 10)|48308|67 - 70
[ROW] 29: august 31|athletics|10 - 4|oquist (2 - 5)|48041|68 - 70

Judge whether the following statement is a fact or not based on the data above: "on august 25 , remlinger (6 - 6) take the win against the rockies. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE date LIKE "%august 25%" AND opponent LIKE "%rockies%";```.

Intermediate table (DF1):
[HEAD]: date|opponent|score|loss|attendance|record
---
EMPTY TABLE

Answer: ```no```.

The database table DF0 is shown as follows:
[HEAD]: week|date|opponent|result|attendance
---
[ROW] 1: 1|september 4 , 1983|buffalo bills|w 12 - 0|78715
[ROW] 2: 2|september 11 , 1983|new england patriots|w 34 - 24|59343
[ROW] 3: 3|september 19 , 1983|los angeles raiders|l 27 - 14|57796
[ROW] 4: 4|september 25 , 1983|kansas city chiefs|w 14 - 6|50785
[ROW] 5: 5|october 2 , 1983|new orleans saints|l 17 - 7|66489
[ROW] 6: 6|october 9 , 1983|buffalo bills|l 38 - 35|59948
[ROW] 7: 7|october 16 , 1983|new york jets|w 32 - 14|58615
[ROW] 8: 8|october 23 , 1983|baltimore colts|w 21 - 7|32343
...
[ROW] 15: 15|december 10 , 1983|atlanta falcons|w 31 - 24|56725
[ROW] 16: 16|december 16 , 1983|new york jets|w 34 - 14|59975

Judge whether the following statement is a fact or not based on the data above: "the dolphins' defense record 2 shutout during the season. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE result LIKE "%- 0%";```.

Intermediate table (DF1):
[HEAD]: week|date|opponent|result|attendance
---
[ROW] 1: 1|september 4 , 1983|buffalo bills|w 12 - 0|78715
[ROW] 2: 12|november 20 , 1983|baltimore colts|w 37 - 0|54482

SQL: ```SELECT COUNT(*) FROM DF1;```.

Intermediate table (DF2):
[HEAD]: count(*)
---
[ROW] 1: 2

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: no|_|title|directed_by|written_by|us_air_date|production_code|us_viewers_million
---
[ROW] 1: 175|1|savior|kevin g fair|kelly souders & brian peterson|september 25 , 2009|3x5251|2.58
[ROW] 2: 176|2|metallo|mairzee almas|don whitehead & holly henderson|october 2 , 2009|3x5252|2.24
[ROW] 3: 177|3|rabid|michael rohl|jordan hawley|october 9 , 2009|3x5253|2.3
[ROW] 4: 178|4|echo|wayne rose|bryan miller|october 16 , 2009|3x5254|2.61
[ROW] 5: 179|5|roulette|kevin g fair|genevieve sparling|october 23 , 2009|3x5256|2.52
[ROW] 6: 180|6|crossfire|michael rohl|don whitehead & holly henderson|october 30 , 2009|3x5257|2.57
[ROW] 7: 181|7|kandor|jeannot szwarc|al septien & turi meyer|november 6 , 2009|3x5258|2.63
[ROW] 8: 182|8|idol|glen winter|anne cofell saunders|november 13 , 2009|3x5255|2.68
...
[ROW] 19: 193|19|sacrifice|kevin g fair|justin hartley , bryan miller & walter wong|april 30 , 2010|3x5270|1.89
[ROW] 20: 194|20|hostage|glen winter|jordan hawley & anne cofell saunders|may 7 , 2010|3x5271|1.92

Judge whether the following statement is a fact or not based on the data above: "there be 6 episode number for episode direct by wayne rose. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE directed_by LIKE "%wayne rose%" AND no=6;```.

Intermediate table (DF1):
[HEAD]: no|_|title|directed_by|written_by|us_air_date|production_code|us_viewers_million
---
EMPTY TABLE

Answer: ```no```.

The database table DF0 is shown as follows:
[HEAD]: res|record|opponent|method|event|round|time|location
---
[ROW] 1: win|23 - 11 - 1|doo won seo|submission (arm triangle choke)|road fc 11|2|2:24|seoul , south korea
[ROW] 2: loss|22 - 11 - 1|tatsuya kawajiri|submission (arm triangle choke)|dream 17|3|2:30|saitama , saitama , japan
[ROW] 3: win|22 - 10 - 1|mitsuhiro ishida|decision (split)|dream : fight for japan!|2|5:00|saitama , saitama , japan
[ROW] 4: win|21 - 10 - 1|usama aziz|submission (armbar)|super challenge 6|2|3:47|stockholm , sweden
[ROW] 5: win|20 - 10 - 1|hideo tokoro|submission (triangle choke)|dream 16|1|2:48|nagoya , japan
[ROW] 6: loss|19 - 10 - 1|hiroyuki takaya|ko (punches)|dream 14|1|4:27|saitama , saitama , japan
[ROW] 7: loss|19 - 9 - 1|bibiano ferNULLdes|decision (split)|dream 13|2|5:00|yokohama , japan
[ROW] 8: loss|19 - 8 - 1|shinya aoki|submission (armbar)|dream 11|2|4:56|yokohama , japan
...
[ROW] 34: loss|1 - 1|jani lax|submission (rear naked choke)|fire fight 4|1|9:25|turku , finland
[ROW] 35: win|1 - 0|marcus peltonen|tko|fire fight 3|1|1:38|turku , finland

Judge whether the following statement is a fact or not based on the data above: "at dream 11 , his fight with shinya aoki go to 4:56. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE opponent LIKE "%shinya aoki%" AND event LIKE "%dream 11%" AND time LIKE "4:56";```.

Intermediate table (DF1):
[HEAD]: res|record|opponent|method|event|round|time|location
---
[ROW] 1: loss|19 - 8 - 1|shinya aoki|submission (armbar)|dream 11|2|4:56|yokohama , japan

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: year|date|driver|team|manufacturer|laps|_|race_time|average_speed_mph|report
---
[ROW] 1: 1982|june 6|bobby allison|digard motorsports|buick|200|500 (804.672)|4:24:08|113.579|report
[ROW] 2: 1983|june 12|bobby allison|digard motorsports|buick|200|500 (804.672)|3:53:13|128.636|report
[ROW] 3: 1984|june 10|cale yarborough|ranier - lundy|chevrolet|200|500 (804.672)|3:37:08|138.164|report
[ROW] 4: 1985|june 9|bill elliott|melling racing|ford|200|500 (804.672)|3:35:48|138.974|report
[ROW] 5: 1986|june 8|tim richmond|hendrick motorsports|chevrolet|200|500 (804.672)|4:24:50|113.279|report
[ROW] 6: 1987|june 14|tim richmond|hendrick motorsports|chevrolet|200|500 (804.672)|4:05:57|122.166|report
[ROW] 7: 1988|june 19|geoffrey bodine|hendrick motorsports|chevrolet|200|500 (804.672)|3:58:21|126.147|report
[ROW] 8: 1989|june 18|terry labonte|junior johnson & associates|ford|200|500 (804.672)|3:48:27|131.32|report
...
[ROW] 30: 2011|june 12|jeff gordon|hendrick motorsports|chevrolet|200|500 (804.672)|3:26:21|145.384|report
[ROW] 31: 2012|june 10|joey logano|joe gibbs racing|toyota|160|400 (643.737)|3:03:12|131.004|report

Judge whether the following statement is a fact or not based on the data above: "on june 8 , 1997 , jeff gordon drive for 200 lap. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE driver LIKE "%jeff gordon%" AND year=1997 AND date LIKE "%june 8%" AND laps=200;```.

Intermediate table (DF1):
[HEAD]: year|date|driver|team|manufacturer|laps|_|race_time|average_speed_mph|report
---
[ROW] 1: 1997|june 8|jeff gordon|hendrick motorsports|chevrolet|200|500 (804.672)|3:34:33|139.828|report

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: date|opponent|venue|result|attendance|score_diff
---
[ROW] 1: 12 august 2001|burnley|h|0 - 2|21766|-2
[ROW] 2: 18 august 2001|crewe alexandra|a|2 - 0|7933|2
[ROW] 3: 25 august 2001|west bromwich albion|h|1 - 1|18844|0
[ROW] 4: 27 august 2001|norwich city|a|0 - 2|16820|-2
[ROW] 5: 8 september 2001|birmingham city|a|0 - 2|19421|-2
[ROW] 6: 15 september 2001|wimbledon|a|1 - 1|7348|0
[ROW] 7: 17 september 2001|bradford city|h|1 - 1|18012
[ROW] 8: 22 september 2001|manchester city|h|2 - 6|25731
...
[ROW] 45: 13 april 2002|stockport county|a|1 - 3|8706|-2
[ROW] 46: 21 april 2002|wolverhampton wanderers|h|2 - 2|29772|0

Judge whether the following statement is a fact or not based on the data above: "sheffield wednesday fc play the wolverhampton wanderers 2 time during the 2001 - 02 season , and both match result in tie score. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

Python: ```
def get_score_diff(s):
    return int(s.split(' - ')[0]) - int(s.split(' - ')[1])
DF1['score_diff'] = DF1.apply(lambda x: get_score_diff(x['result']), axis=1)```.

Intermediate table (DF1):
[HEAD]: date|opponent|venue|result|attendance|score_diff
---
[ROW] 1: 18 november 2001|wolverhampton wanderers|a|0 - 0|19947|0
[ROW] 2: 21 april 2002|wolverhampton wanderers|h|2 - 2|29772|0

SQL: ```SELECT * FROM DF0 WHERE opponent LIKE "%wolverhampton wanderers%" AND score_diff=0;```.

Intermediate table (DF2):
[HEAD]: count(*)
---
[ROW] 1: 2

SQL: ```SELECT COUNT(*) FROM DF3;```.

The database table DF0 is shown as follows:
[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round
---
[ROW] 1: extra preliminary round|16 august 2008|203|761 → 558|406: 356th - 761st|750|n / a
[ROW] 2: preliminary round|30 august 2008|166|558 → 392|129: 227th - 355th|1500|n / a
[ROW] 3: first round qualifying|13 september 2008|116|392 → 276|66: 161st - 226th|3000|derren ibrahim ( dartford )
[ROW] 4: second round qualifying|27 september 2008|80|276 → 196|44: 117th - 160th|4500|dean lodge ( kingstonian )
[ROW] 5: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )
[ROW] 6: fourth round qualifying|25 october 2008|32|156 → 124|24: 93rd - 116th|12500|sam hatton ( afc wimbledon )

Judge whether the following statement is a fact or not based on the data above: "the third round qualifying have the most new entry. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 ORDER BY new_entries_this_round DESC LIMIT 1;```.

Intermediate table (DF1):
[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round
---
[ROW] 1: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )

SQL: ```SELECT * FROM DF1 WHERE round LIKE "third round qualifying";```.

Intermediate table (DF2):
[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round
---
[ROW] 1: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )

Answer: ```yes```.

The database table DF0 is shown as follows:
[HEAD]: tie_no|home_team|score|away_team|attendance
---
[ROW] 1: 1|bournemouth|1 - 0|west bromwich albion|2 january 1999
[ROW] 2: 2|bristol city|0 - 2|everton|2 january 1999
[ROW] 3: 3|bury|0 - 3|stockport county|2 january 1999
[ROW] 4: 4|preston north end|2 - 4|arsenal|4 january 1999
[ROW] 5: 5|southampton|1 - 1|fulham|2 january 1999
[ROW] 6: replay|fulham|1 - 0|southampton|13 january 1999
[ROW] 7: 6|leicester city|4 - 2|birmingham city|2 january 1999
[ROW] 8: 7|nottingham forest|0 - 1|portsmouth|2 january 1999
...
[ROW] 37: 32|rushden & diamonds|0 - 0|leeds united|2 january 1999
[ROW] 38: replay|leeds united|3 - 1|rushden & diamonds|13 january 1999

Judge whether the following statement is a fact or not based on the data above: "when the score be 3 - 1 the away team be bristol rover and the home team be leeds united and when the score be 0 - 0 the away team be liverpool united and the home team be rushden & diamond. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT home_team, score, away_team FROM DF0 WHERE score="3 - 1" AND away_team="bristol rover" AND home_team="leeds united";```.

Intermediate table (DF1):
[HEAD]: home_team|score|away_team
---
[ROW] 1: leeds united|3 - 1|bristol rover

SQL: ```SELECT home_team, score, away_team FROM DF0 WHERE score="0 - 0" AND away_team="liverpool united" AND home_team="rushden & diamond";```.

Intermediate table (DF2):
[HEAD]: home_team|score|away_team
---
EMPTY TABLE

Answer: ```no```.

The database table DF0 is shown as follows:
[HEAD]: year|record|seed|region|results
---
[ROW] 1: 1980|18 - 12|12|east|l 72 - 86
[ROW] 2: 1981|24 - 5|5|east|w 85 - 69 l 56 - 58 ot
[ROW] 3: 1983|24 - 7|5|east|w 76 - 67 l 54 - 56
[ROW] 4: 1984|23 - 7|6|east|w 70 - 69 l 63 - 78
[ROW] 5: 1985|26 - 6|2|west|w 81 - 65 l 59 - 63
[ROW] 6: 1996|24 - 9|12|southeast|l 51 - 58
[ROW] 7: 2004|23 - 8|13|east|l 78 - 79
[ROW] 8: 2007|28 - 7|11|west|w 79 - 77 l 79 - 84 ot
[ROW] 9: 2009|24 - 10|11|east|l 64 - 65
[ROW] 10: 2011|28 - 12|11|southwest|w 59 - 46 w 74 - 56 w 94 - 76 w 72 - 71 ot w 71 - 61 l 62 - 70
[ROW] 11: 2012|29 - 7|12|midwest|w 62 - 59 l 61 - 63
[ROW] 12: 2013|27 - 9|5|south|w 88 - 42 l 53 - 78

Judge whether the following statement is a fact or not based on the data above: "in 2011 , the southwest region win a total of 5 game and lose 1 game create a record of 28 - 12. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.

SQL: ```SELECT * FROM DF0 WHERE year=2011 AND region LIKE "%southwest%" AND record="28 - 12";```.

Intermediate table (DF1):
[HEAD]: year|record|seed|region|results
---
[ROW] 1: 2011|28 - 12|11|southwest|w 59 - 46 w 74 - 56 w 94 - 76 w 72 - 71 ot w 71 - 61 l 62 - 70

In [16]:
log

{'id': 'nt-16112',
 'utterance': 'in 2011 , the southwest region win a total of 5 game and lose 1 game create a record of 28 - 12. yes or no?',
 'source_csv': './dataset/Table-Fact-Checking/./data/all_csv/2-14609295-5.html.csv',
 'target_value': 'yes',
 'predicted_value': 'yes',
 'prompt': 'The database table DF0 is shown as follows:\n[HEAD]: date|opponent|score|loss|attendance|record\n---\n[ROW] 1: august 1|pirates|7 - 6|rincón (4 - 5)|22657|52 - 58\n[ROW] 2: august 2|pirates|6 - 5|swift (4 - 5)|32388|52 - 59\n[ROW] 3: august 3|pirates|8 - 4|reed (3 - 5)|24989|52 - 60\n[ROW] 4: august 4|phillies|7 - 3|castillo (8 - 10)|15230|52 - 61\n[ROW] 5: august 5|phillies|4 - 2|bottalico (2 - 4)|16428|53 - 61\n[ROW] 6: august 6|mets|4 - 0|mlicki (5 - 8)|26633|54 - 61\n[ROW] 7: august 7|mets|12 - 4|swift (4 - 6)|29536|54 - 62\n[ROW] 8: august 8|pirates|5 - 3|lieber (6 - 12)|48262|55 - 62\n...\n[ROW] 28: august 30|athletics|4 - 3|mohler (1 - 10)|48308|67 - 70\n[ROW] 29: august 31|athletics|10 - 4|oquist (2 - 5)|48041|68 - 70\n\nJudge whether the following statement is a fact or not based on the data above: "on august 25 , remlinger (6 - 6) take the win against the rockies. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE date LIKE "%august 25%" AND opponent LIKE "%rockies%";```.\n\nIntermediate table (DF1):\n[HEAD]: date|opponent|score|loss|attendance|record\n---\nEMPTY TABLE\n\nAnswer: ```no```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: week|date|opponent|result|attendance\n---\n[ROW] 1: 1|september 4 , 1983|buffalo bills|w 12 - 0|78715\n[ROW] 2: 2|september 11 , 1983|new england patriots|w 34 - 24|59343\n[ROW] 3: 3|september 19 , 1983|los angeles raiders|l 27 - 14|57796\n[ROW] 4: 4|september 25 , 1983|kansas city chiefs|w 14 - 6|50785\n[ROW] 5: 5|october 2 , 1983|new orleans saints|l 17 - 7|66489\n[ROW] 6: 6|october 9 , 1983|buffalo bills|l 38 - 35|59948\n[ROW] 7: 7|october 16 , 1983|new york jets|w 32 - 14|58615\n[ROW] 8: 8|october 23 , 1983|baltimore colts|w 21 - 7|32343\n...\n[ROW] 15: 15|december 10 , 1983|atlanta falcons|w 31 - 24|56725\n[ROW] 16: 16|december 16 , 1983|new york jets|w 34 - 14|59975\n\nJudge whether the following statement is a fact or not based on the data above: "the dolphins\' defense record 2 shutout during the season. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE result LIKE "%- 0%";```.\n\nIntermediate table (DF1):\n[HEAD]: week|date|opponent|result|attendance\n---\n[ROW] 1: 1|september 4 , 1983|buffalo bills|w 12 - 0|78715\n[ROW] 2: 12|november 20 , 1983|baltimore colts|w 37 - 0|54482\n\nSQL: ```SELECT COUNT(*) FROM DF1;```.\n\nIntermediate table (DF2):\n[HEAD]: count(*)\n---\n[ROW] 1: 2\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: no|_|title|directed_by|written_by|us_air_date|production_code|us_viewers_million\n---\n[ROW] 1: 175|1|savior|kevin g fair|kelly souders & brian peterson|september 25 , 2009|3x5251|2.58\n[ROW] 2: 176|2|metallo|mairzee almas|don whitehead & holly henderson|october 2 , 2009|3x5252|2.24\n[ROW] 3: 177|3|rabid|michael rohl|jordan hawley|october 9 , 2009|3x5253|2.3\n[ROW] 4: 178|4|echo|wayne rose|bryan miller|october 16 , 2009|3x5254|2.61\n[ROW] 5: 179|5|roulette|kevin g fair|genevieve sparling|october 23 , 2009|3x5256|2.52\n[ROW] 6: 180|6|crossfire|michael rohl|don whitehead & holly henderson|october 30 , 2009|3x5257|2.57\n[ROW] 7: 181|7|kandor|jeannot szwarc|al septien & turi meyer|november 6 , 2009|3x5258|2.63\n[ROW] 8: 182|8|idol|glen winter|anne cofell saunders|november 13 , 2009|3x5255|2.68\n...\n[ROW] 19: 193|19|sacrifice|kevin g fair|justin hartley , bryan miller & walter wong|april 30 , 2010|3x5270|1.89\n[ROW] 20: 194|20|hostage|glen winter|jordan hawley & anne cofell saunders|may 7 , 2010|3x5271|1.92\n\nJudge whether the following statement is a fact or not based on the data above: "there be 6 episode number for episode direct by wayne rose. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE directed_by LIKE "%wayne rose%" AND no=6;```.\n\nIntermediate table (DF1):\n[HEAD]: no|_|title|directed_by|written_by|us_air_date|production_code|us_viewers_million\n---\nEMPTY TABLE\n\nAnswer: ```no```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: res|record|opponent|method|event|round|time|location\n---\n[ROW] 1: win|23 - 11 - 1|doo won seo|submission (arm triangle choke)|road fc 11|2|2:24|seoul , south korea\n[ROW] 2: loss|22 - 11 - 1|tatsuya kawajiri|submission (arm triangle choke)|dream 17|3|2:30|saitama , saitama , japan\n[ROW] 3: win|22 - 10 - 1|mitsuhiro ishida|decision (split)|dream : fight for japan!|2|5:00|saitama , saitama , japan\n[ROW] 4: win|21 - 10 - 1|usama aziz|submission (armbar)|super challenge 6|2|3:47|stockholm , sweden\n[ROW] 5: win|20 - 10 - 1|hideo tokoro|submission (triangle choke)|dream 16|1|2:48|nagoya , japan\n[ROW] 6: loss|19 - 10 - 1|hiroyuki takaya|ko (punches)|dream 14|1|4:27|saitama , saitama , japan\n[ROW] 7: loss|19 - 9 - 1|bibiano ferNULLdes|decision (split)|dream 13|2|5:00|yokohama , japan\n[ROW] 8: loss|19 - 8 - 1|shinya aoki|submission (armbar)|dream 11|2|4:56|yokohama , japan\n...\n[ROW] 34: loss|1 - 1|jani lax|submission (rear naked choke)|fire fight 4|1|9:25|turku , finland\n[ROW] 35: win|1 - 0|marcus peltonen|tko|fire fight 3|1|1:38|turku , finland\n\nJudge whether the following statement is a fact or not based on the data above: "at dream 11 , his fight with shinya aoki go to 4:56. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE opponent LIKE "%shinya aoki%" AND event LIKE "%dream 11%" AND time LIKE "4:56";```.\n\nIntermediate table (DF1):\n[HEAD]: res|record|opponent|method|event|round|time|location\n---\n[ROW] 1: loss|19 - 8 - 1|shinya aoki|submission (armbar)|dream 11|2|4:56|yokohama , japan\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: year|date|driver|team|manufacturer|laps|_|race_time|average_speed_mph|report\n---\n[ROW] 1: 1982|june 6|bobby allison|digard motorsports|buick|200|500 (804.672)|4:24:08|113.579|report\n[ROW] 2: 1983|june 12|bobby allison|digard motorsports|buick|200|500 (804.672)|3:53:13|128.636|report\n[ROW] 3: 1984|june 10|cale yarborough|ranier - lundy|chevrolet|200|500 (804.672)|3:37:08|138.164|report\n[ROW] 4: 1985|june 9|bill elliott|melling racing|ford|200|500 (804.672)|3:35:48|138.974|report\n[ROW] 5: 1986|june 8|tim richmond|hendrick motorsports|chevrolet|200|500 (804.672)|4:24:50|113.279|report\n[ROW] 6: 1987|june 14|tim richmond|hendrick motorsports|chevrolet|200|500 (804.672)|4:05:57|122.166|report\n[ROW] 7: 1988|june 19|geoffrey bodine|hendrick motorsports|chevrolet|200|500 (804.672)|3:58:21|126.147|report\n[ROW] 8: 1989|june 18|terry labonte|junior johnson & associates|ford|200|500 (804.672)|3:48:27|131.32|report\n...\n[ROW] 30: 2011|june 12|jeff gordon|hendrick motorsports|chevrolet|200|500 (804.672)|3:26:21|145.384|report\n[ROW] 31: 2012|june 10|joey logano|joe gibbs racing|toyota|160|400 (643.737)|3:03:12|131.004|report\n\nJudge whether the following statement is a fact or not based on the data above: "on june 8 , 1997 , jeff gordon drive for 200 lap. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE driver LIKE "%jeff gordon%" AND year=1997 AND date LIKE "%june 8%" AND laps=200;```.\n\nIntermediate table (DF1):\n[HEAD]: year|date|driver|team|manufacturer|laps|_|race_time|average_speed_mph|report\n---\n[ROW] 1: 1997|june 8|jeff gordon|hendrick motorsports|chevrolet|200|500 (804.672)|3:34:33|139.828|report\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: date|opponent|venue|result|attendance|score_diff\n---\n[ROW] 1: 12 august 2001|burnley|h|0 - 2|21766|-2\n[ROW] 2: 18 august 2001|crewe alexandra|a|2 - 0|7933|2\n[ROW] 3: 25 august 2001|west bromwich albion|h|1 - 1|18844|0\n[ROW] 4: 27 august 2001|norwich city|a|0 - 2|16820|-2\n[ROW] 5: 8 september 2001|birmingham city|a|0 - 2|19421|-2\n[ROW] 6: 15 september 2001|wimbledon|a|1 - 1|7348|0\n[ROW] 7: 17 september 2001|bradford city|h|1 - 1|18012\n[ROW] 8: 22 september 2001|manchester city|h|2 - 6|25731\n...\n[ROW] 45: 13 april 2002|stockport county|a|1 - 3|8706|-2\n[ROW] 46: 21 april 2002|wolverhampton wanderers|h|2 - 2|29772|0\n\nJudge whether the following statement is a fact or not based on the data above: "sheffield wednesday fc play the wolverhampton wanderers 2 time during the 2001 - 02 season , and both match result in tie score. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nPython: ```\ndef get_score_diff(s):\n    return int(s.split(\' - \')[0]) - int(s.split(\' - \')[1])\nDF1[\'score_diff\'] = DF1.apply(lambda x: get_score_diff(x[\'result\']), axis=1)```.\n\nIntermediate table (DF1):\n[HEAD]: date|opponent|venue|result|attendance|score_diff\n---\n[ROW] 1: 18 november 2001|wolverhampton wanderers|a|0 - 0|19947|0\n[ROW] 2: 21 april 2002|wolverhampton wanderers|h|2 - 2|29772|0\n\nSQL: ```SELECT * FROM DF0 WHERE opponent LIKE "%wolverhampton wanderers%" AND score_diff=0;```.\n\nIntermediate table (DF2):\n[HEAD]: count(*)\n---\n[ROW] 1: 2\n\nSQL: ```SELECT COUNT(*) FROM DF3;```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round\n---\n[ROW] 1: extra preliminary round|16 august 2008|203|761 → 558|406: 356th - 761st|750|n / a\n[ROW] 2: preliminary round|30 august 2008|166|558 → 392|129: 227th - 355th|1500|n / a\n[ROW] 3: first round qualifying|13 september 2008|116|392 → 276|66: 161st - 226th|3000|derren ibrahim ( dartford )\n[ROW] 4: second round qualifying|27 september 2008|80|276 → 196|44: 117th - 160th|4500|dean lodge ( kingstonian )\n[ROW] 5: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )\n[ROW] 6: fourth round qualifying|25 october 2008|32|156 → 124|24: 93rd - 116th|12500|sam hatton ( afc wimbledon )\n\nJudge whether the following statement is a fact or not based on the data above: "the third round qualifying have the most new entry. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 ORDER BY new_entries_this_round DESC LIMIT 1;```.\n\nIntermediate table (DF1):\n[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round\n---\n[ROW] 1: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )\n\nSQL: ```SELECT * FROM DF1 WHERE round LIKE "third round qualifying";```.\n\nIntermediate table (DF2):\n[HEAD]: round|date|fixtures|clubs|new_entries_this_round|prize_money|player_of_the_round\n---\n[ROW] 1: third round qualifying|11 october 2008|40|196 → 156|none|7500|craig davis ( afc totton )\n\nAnswer: ```yes```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: tie_no|home_team|score|away_team|attendance\n---\n[ROW] 1: 1|bournemouth|1 - 0|west bromwich albion|2 january 1999\n[ROW] 2: 2|bristol city|0 - 2|everton|2 january 1999\n[ROW] 3: 3|bury|0 - 3|stockport county|2 january 1999\n[ROW] 4: 4|preston north end|2 - 4|arsenal|4 january 1999\n[ROW] 5: 5|southampton|1 - 1|fulham|2 january 1999\n[ROW] 6: replay|fulham|1 - 0|southampton|13 january 1999\n[ROW] 7: 6|leicester city|4 - 2|birmingham city|2 january 1999\n[ROW] 8: 7|nottingham forest|0 - 1|portsmouth|2 january 1999\n...\n[ROW] 37: 32|rushden & diamonds|0 - 0|leeds united|2 january 1999\n[ROW] 38: replay|leeds united|3 - 1|rushden & diamonds|13 january 1999\n\nJudge whether the following statement is a fact or not based on the data above: "when the score be 3 - 1 the away team be bristol rover and the home team be leeds united and when the score be 0 - 0 the away team be liverpool united and the home team be rushden & diamond. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT home_team, score, away_team FROM DF0 WHERE score="3 - 1" AND away_team="bristol rover" AND home_team="leeds united";```.\n\nIntermediate table (DF1):\n[HEAD]: home_team|score|away_team\n---\n[ROW] 1: leeds united|3 - 1|bristol rover\n\nSQL: ```SELECT home_team, score, away_team FROM DF0 WHERE score="0 - 0" AND away_team="liverpool united" AND home_team="rushden & diamond";```.\n\nIntermediate table (DF2):\n[HEAD]: home_team|score|away_team\n---\nEMPTY TABLE\n\nAnswer: ```no```.\n\nThe database table DF0 is shown as follows:\n[HEAD]: year|record|seed|region|results\n---\n[ROW] 1: 1980|18 - 12|12|east|l 72 - 86\n[ROW] 2: 1981|24 - 5|5|east|w 85 - 69 l 56 - 58 ot\n[ROW] 3: 1983|24 - 7|5|east|w 76 - 67 l 54 - 56\n[ROW] 4: 1984|23 - 7|6|east|w 70 - 69 l 63 - 78\n[ROW] 5: 1985|26 - 6|2|west|w 81 - 65 l 59 - 63\n[ROW] 6: 1996|24 - 9|12|southeast|l 51 - 58\n[ROW] 7: 2004|23 - 8|13|east|l 78 - 79\n[ROW] 8: 2007|28 - 7|11|west|w 79 - 77 l 79 - 84 ot\n[ROW] 9: 2009|24 - 10|11|east|l 64 - 65\n[ROW] 10: 2011|28 - 12|11|southwest|w 59 - 46 w 74 - 56 w 94 - 76 w 72 - 71 ot w 71 - 61 l 62 - 70\n[ROW] 11: 2012|29 - 7|12|midwest|w 62 - 59 l 61 - 63\n[ROW] 12: 2013|27 - 9|5|south|w 88 - 42 l 53 - 78\n\nJudge whether the following statement is a fact or not based on the data above: "in 2011 , the southwest region win a total of 5 game and lose 1 game create a record of 28 - 12. yes or no?". Generate SQL or Python code step-by-step given the question and table to verify the statement correctly. For each step, generate SQL code to process the query or Python code to reformat the data. Output the code braced by "```" and an external executor will process the code generated and feed an intermediate table back to you. Finally answer yes if the statement is true or no if the statement is false.\n\nSQL: ```SELECT * FROM DF0 WHERE year=2011 AND region LIKE "%southwest%" AND record="28 - 12";```.\n\nIntermediate table (DF1):\n[HEAD]: year|record|seed|region|results\n---\n[ROW] 1: 2011|28 - 12|11|southwest|w 59 - 46 w 74 - 56 w 94 - 76 w 72 - 71 ot w 71 - 61 l 62 - 70',
 'execution_match': None,
 'gpt_error': None,
 'execution_err': None,
 'predicted_sql': None,
 'df_reformat_sql': None,
 'gpt_original_output': ['SQL: ```SELECT * FROM DF0 WHERE year=2011 AND region LIKE "%southwest%" AND record="28 - 12";',
  'Answer: ```yes'],
 'training_demo_ids': []}